[2019-08-22 06:34] #486 closed

[2019-08-22 18:27] kwridan commented on #486
Glad to hear you got it working!

By default the `productName` is set to match the name of the target. Generally would only need to set it in situations where the target name mismatches, or in the case where you have multiple targets that need to share a common product name (e.g. `Framework1-iOS`, `Framework1-macOS`, etc...)

Thanks for the suggestions @flowinhoBSCH

[2019-08-22 20:30] marciniwanicki commented on #351
Sorry for keeping this ticket on hold, had ultra busy time at work - but it's all done and I should be a bit more responsive now 🤗. I was trying to research some alternatives but I still think "factory" or "builder" type class per module would be the best option.
I might be biased, usually work on relatively big projects where explicit dependencies and consistency in the way they are set up is the

[2019-08-22 21:24] pepibumur commented on #351
Hey Marcin.

Thanks for getting back to this issue. I think the solution that you proposed is very explicit and provides very interesting features like being able to scope the dependencies that are being injected. However, I think it introduces unnecessary overhead for what we need in Tuist.

This option is definitively worth considering at some point, but given the amount of utilities that we are

[2019-08-23 12:58] #351 closed

[2019-08-30 10:11] #454 closed

[2019-09-10 21:43] dcvz commented on #343
I’m also looking to do something similar. Basically include an already existing `.xcodeproj`.

In my case the `.xcodeproj` is simple and only generates a static lib which I’d then need to link.

Has there been any developments in adding an existing `.xcodeproj` and the library it generates as a dependency? Or any workaround?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-11 07:42] pepibumur commented on #343
There hasn't. I'm not 100% sure of this being a good idea because we'd be merging existing targets into the Tuist's dependency graph, on which we run a lot of validations to make sure that things are properly configured. By introducing those elements that are slightly out of our control, users might face compilation issues and therefore think that it's something that Tuist should know how to handl

[2019-09-11 10:14] dcvz commented on #343
Thanks for the answer @pepibumur :)

I've only spent an hour or so working with `tuist` and yeah I can see that it doesn't really fit the philosophy of what ya'll are trying to build.

Thanks for the workaround! I'll give it a try (in the end I'm actually fighting a problem with cocoapods).

Side note: I saw that one of the goals was to support `ReactNative` -- I've successfully setup a RN project

[2019-09-11 11:13] #425 closed

[2019-09-11 12:50] dcvz commented on #343
For others who may also need to do some of this dark magic:

1. I defined a custom workspace and included the `xcodeproj` as mentioned in https://github.com/tuist/tuist/issues/343#issuecomment-491075305
2. Linked the resulting static lib via flags: `"OTHER_LDFLAGS": "$(inherited) -lStaticLib",`

[2019-09-11 12:51] dcvz commented on #343
@pepibumur & @kwridan I think it's been answered that this deliberately not supported and probably won't be. Does it make sense to close this issue?

[2019-09-11 14:44] pepibumur commented on #343
Thanks for sharing the steps that you followed for the shake of visibility.

Agree. Closing it :)

[2019-09-18 09:37] dcvz opened #501 "Failure to install on Travis CI"
**Describe the bug**
The installation script fails when trying to install tuist in TravisCI.

First issue was along fetching the release:
`-e:166:in '<main>': undefined method 'detect' for nil:NilClass (NoMethodError)`

_We managed to get past this by forking the install script and directly stating the zip download url._

Second issue was along moving the directories:
`mv: rename /var/folders/17/5

[2019-09-18 09:38] dcvz commented on #501
I can document this install method if ya'll are ok with it.

[2019-09-18 12:30] pepibumur commented on #501
Thanks for reporting this @dcvz. I'll look into it.

[2019-09-18 13:21] dcvz commented on #501
**Update:** After more investigation it seems to be that requests to Github are failing. As even after I managed to install Tuist I'm getting an error on `generate`:

[code]

I'm starting to think that perhaps Travis is hitting some request limit or something.. I will keep investigating.

But separate question @pepibumur. Why is `generate` invoking the Github API?

[2019-09-18 13:39] pepibumur commented on #501
I experienced something similar yesterday so most likely. I'm thinking that we could perhaps put the installation script somewhere else, like a Google Cloud Storage bucket.

So basically, what you install in your system is not `tuist`, but `tuistenv`. Tuist env serves as a gateway to ensure that everyone in the team uses the same version of Tuist. When you run it for the first time, it pulls the l

[2019-09-18 19:34] #475 closed

[2019-09-18 20:15] pepibumur commented on #481
This has already been solved

[2019-09-18 20:15] #481 closed

[2019-09-18 21:29] pepibumur commented on #501
I started tackling this issue with this PR https://github.com/tuist/tuist/pull/504.

[2019-09-19 12:12] parse opened #505 "Making sure a .post action is executed last as BuildPhase"
**Describe the bug**
First of all, thanks for the amazing work you've done on Tuist. I started working on an app yesterday and its moving along quite nicely.

I have an issue with adding Fabric as the last build phase step. According to Pedro (on twitter, https://twitter.com/pedropbuendia/status/1174655179129536512?s=20) any action I've added should be added last. I find that is not necessarily th

[2019-09-19 21:40] dcvz opened #507 "Xcode 11 - Swift 5.1 issue"
**Describe the bug**
Now that iOS 13 is out and we're encouraged to use Xcode 11 -- I'm running into an issue running `tuist generate`:

[code]

**To Reproduce**
Download Xcode 11 and setup the xcode tools and try to run `tuist generate`.

**Expected behavior**
The tool should run.

[2019-09-19 22:19] dcvz commented on #507
My guess is the binary is compiled with 5.0.1 and that’s why it’s failing to import the ProjectDescription?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-20 06:48] #505 closed

[2019-09-20 09:11] pepibumur commented on #507
Exactly. I wonder if we can compile `ProjectDescription` in such a way that it can be linked from binaries compiled with any version of Swift. In case you want to investigate it:
- [This](https://github.com/tuist/tuist/blob/master/Sources/TuistKit/Generator/GraphManifestLoader.swift#L173) is the logic that compiles the manifest linking it against `ProjectDescription`.
- We compile `ProjectDescript

[2019-09-20 09:17] marciniwanicki commented on #507
I think we won't be able to use a single `ProjectDescription ` framework till swift module stability is implemented (I might be wrong here - don't have much experience with swift precompiled frameworks). I guess we can try to ship two frameworks and based on the user's swift version, determine which one should be linked. It would require an additional system call so shouldn't affect the performanc

[2019-09-20 10:15] ollieatkinson commented on #507
Isn’t Module Stability is implemented in 5.1 ?

[2019-09-20 10:47] marciniwanicki commented on #507
You're right @ollieatkinson, once we switch to 5.1, it should be all good. There are few extra warnings but current master can be compiled with 5.1.

[2019-09-20 11:22] pepibumur commented on #507
According to [this page](https://swift.org/blog/abi-stability-and-more/) is still under active development. We can distribute versions of `ProjectDescription` for different versions of Swift, which would complicate the release logic a bit, or release a new version from which we support only Swift 5.1. Considering teams are usually fast at upgrading Xcode versions, and the OS does it automatically,

[2019-09-21 08:35] dcvz commented on #507
Looks like Swift 5.1 is out now: https://swift.org/blog/swift-5-1-released/

[2019-09-21 11:46] dcvz commented on #507
In the meantime for anyone else experiencing this issue: I've gone ahead and compiled the project from `master` using the Swift Package Manager: `swift build -c release` and made tuist-env use that version.

[2019-09-23 09:04] ollieatkinson commented on #507
I agree, we should look at doing another release with the 5.1 compiler for those who wish to upgrade to Xcode 11 - I would hate for Tuist to be a barrier for that decision.

[2019-09-24 09:11] ollieatkinson opened #510 "Resolve warnings for old API being used in unit tests."
**Describe the bug**
After implementing multiline settings we have not updated the unit tests resulting in warnings printed when run.

We should look at removing these warnings so that others do not get hidden.

**To Reproduce**
1. Run unit tests for `tuist`

**Expected behavior**
No warnings

**Screenshots**
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/1382565/6549

[2019-09-24 09:12] ollieatkinson commented on #507
I've implemented the changes required for Xcode 11 in this pull request: https://github.com/tuist/tuist/pull/394

Once I'm happy with the changes inside of it, I will merge it and perform a release of 0.18.0.

[2019-09-24 16:03] ollieatkinson commented on #39
reopening this issue.

It would be very good to add a verbose mode to help track down where failures happen.
I would like to be able to see the following:

- the shell commands `Tuist` is executing
- the output for the shell commands `Tuist` is executing, always
- file operations `Tuist` is performing
- debug and info log messages giving information about the current state `Tuist` is currently in

[2019-09-28 11:31] kwridan opened #514 "Generated projects contain redundant file elements from dependency projects"
**Describe the bug**
SDK, Pre-compiled framework and library elements that belong to dependency projects appear in generated projects even when the project doesn't require them.

**To Reproduce**
Steps to reproduce the behavior:

1. Within the fixture `fixtures/ios_app_with_frameworks/Framework2/` - add an SDK dependency, or a precompiled framework

[code]

2. Run `tuist generate`
3. Open the gene

[2019-09-28 16:05] #215 closed

[2019-10-01 07:06] parse opened #526 "feature request: Allow setting deployment target devices"
**Describe the bug**
It would be great if Tuist supported a way to set the project to only "iPhone" etc.

**Screenshots**
<img width="866" alt="Screenshot 2019-10-01 08 55 30" src="https://user-images.githubusercontent.com/60202/65941147-a042c300-e42a-11e9-90d9-6d0221c4ba66.png">

[2019-10-01 18:33] kwridan opened #527 "Duplicate local Swift packages can appear in a generated project"
**Describe the bug**

When two projects depend on the same local Swift package - duplicate entries can appear in the generated projects!

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `fixtures/ios_app_with_local_swift_package`
2. Create a directory to host new projects (e.g. `mkdir -p Frameworks/FrameworkA`)
3. Create `FrameworkA` (`tuist init --product framework`)
4. Update the man

[2019-10-02 08:55] asalom opened #528 "Setting a Host Application yo my test target"
## Need/problem

I need to set a specific Host Application to my Target of type `.unitTests` which tests a Target of type `.framework`.

## Motivation

I have a Target of type `.framework` which makes use of the Keychain. In order to test the Keychain, the tests have to run in a device, they can't run directly on the framework. In other words, there can't be a Keychain without a Simulator or devic

[2019-10-02 10:09] kwridan commented on #528
Hi @asalom

I believe this is already supported

https://github.com/tuist/tuist/pull/300

The way to get it working is to add the Application targets as a dependency to the unit test target and that should set the appropriate test host.

We should update the docs to capture this :)

Hope this helps

[2019-10-02 11:12] asalom commented on #528
It worked like a charm, thank you. I will leave my configuration in case someone else faces the same issue.

[code]

[2019-10-02 11:12] #528 closed

[2019-10-02 13:31] parse commented on #39
+1 on this, I am trying to debug whether the `tuist generate` is using the bundler version of the gem or the system wide and it would be great to have that information in a `--verbose` flag.

[2019-10-02 13:32] fortmarek commented on #527
Let me know if #515 fixes it, if not, I can look into it.

[2019-10-03 13:27] parse opened #530 "When Cartfile.resolved exists, tuist up fails"
**Describe the bug**
When `Cartfile.resolved` exists, and I try to run `tuist up` I get the following output:
[code]

(No further error is outputed).

The file content for Cartfile.resolved is:
[code]

It only works the first time around, when there is no `Cartfile.resolved` file.

My Setup.swift
[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Create a Cartfile with a dependency
2. Ru

[2019-10-03 14:49] pepibumur commented on #530
Thanks for reporting it @parse. From your description, it seems there's a bug in that up task. We'll investigate it further and fix it.

[2019-10-03 20:51] #514 closed

[2019-10-03 20:55] kwridan commented on #527
Thanks @fortmarek, #515 resolves this.

I've updated the [ios_app_with_local_swift_package](https://github.com/tuist/tuist/tree/master/fixtures/ios_app_with_local_swift_package) to include another project that references the same package.

[2019-10-03 20:55] #527 closed

[2019-10-08 07:24] mollyIV commented on #510
👋 Just created a PR to resolve the issue, cheers 🙇

[2019-10-08 07:49] #510 closed

[2019-10-08 07:53] pepibumur commented on #526
@parse what about something along the lines of:

[code]

[2019-10-08 07:55] pepibumur commented on #39
Thanks for the suggestions. I agree the flag should be supported to make the debugging of Tuist's commands easier. Would you be interested in contributing yourself to the project by adding support for that flag to the generate command @parse? If so, I can point you to some areas of the codebase that would be impacted by that work.

[2019-10-08 09:23] parse commented on #526
That sounds fantastic!

[2019-10-08 09:24] parse commented on #39
I am sorry to say I don't have the time at the moment. My ambition is to get involved this upcoming spring.

[2019-10-08 19:09] mollyIV commented on #526
Hello 👋

If you do not mind, I would like to give it a shoot 😊 It feels like a good issue to get familiar with the project architecture and core concepts 👍

[2019-10-08 21:59] kwridan commented on #526
`deploymentTarget` looks really nice!

As a suggestion, perhaps:

[code]

Usage:

[code]

Motivation is that on Xcode 11, there's a third option Mac (Catalyst!)

<img width="628" alt="Screenshot 2019-10-08 at 22 49 28" src="https://user-images.githubusercontent.com/11914919/66436003-ef39bb00-ea1d-11e9-9285-db7dd0ccd3e0.png">

[2019-10-08 22:41] kwridan opened #539 "Having a ".bundle" file in resources can lead to generation errors"
_(This was reported on slack by @asalom)_

**Describe the bug**
In the event there's a `.bundle` file in resources (e.g. Settings.bundle), depending on how the resources are defined in the manifest a generation error can occur.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new project `tuist init`
2. Create a new bundle resource (e.g. Settings.bundle) - or fake one from the comma

[2019-10-09 08:33] asalom commented on #539
I did have a very broad glob pattern which defined my sources and resources:

[code]

As @kwridan pointed out to me in Slack, moving the `.bundle` files to a dedicated directory as a workaround fix the issue:

[code]

[2019-10-09 09:49] pepibumur commented on #526
Definitively! Let us know if you need help to get context on any of the project areas.

[2019-10-09 09:50] pepibumur commented on #39
Sure! No worries. I'll keep the issue in the backlog to not forget about it.

[2019-10-09 10:01] mollyIV commented on #526
Great, thanks for the support. I will create a draft PR and if that's fine for you, will ping you guys there if I have questions (and I am sure some will pop up)  🙇

[2019-10-09 10:04] pepibumur commented on #526
Awesome! It's great to see your willingness to improve the project and help other users. Can't wait to see that PR landing 🚀

[2019-10-09 15:14] muellerando opened #540 "Error: Ambiguous use of 'debug(name:settings:xcconfig:)'"
**Describe the bug**
Having
 ` CustomConfiguration.debug(name: "Debug", settings: [:], xcconfig: "*.xcconfig")`
inside Project.swift File will break the build with Version 0.18.1

Error Message:
[code]
**Expected behavior**
Building the xcworkspace file

- Version 0.18.1

[2019-10-09 17:29] kwridan commented on #540
Hi @muellerando

There are two convenience methods to create custom configurations, one that takes in [`[String: String]`](https://github.com/tuist/tuist/blob/master/Sources/ProjectDescription/Settings.swift#L108) (deprecated but left in for backwards compatibility) and the other is [`[String: SettingValue]`](https://github.com/tuist/tuist/blob/master/Sources/ProjectDescription/Settings.swift#L102

[2019-10-09 17:37] kwridan commented on #540
Alternatively if you don't need to use a custom configuration (one that isn't "Debug" or "Release" - e.g. "Beta"), there's another API you can use which uses the default "Debug" and "Release" configurations, while allowing you to specify an xcconfig file too.

https://docs.tuist.io/usage-project-swift#settings

[code]

[2019-10-10 05:47] muellerando commented on #540
That really helps out. Could be pointed out in the docu that these parameters could be left away. (I hope I didn't over read it ;-) )

[2019-10-10 05:47] #540 closed

[2019-10-10 07:18] mollyIV commented on #235
👋 Just wanted to share some thoughts on the project:

I love it ❤️ I believe being able to migrate from existing Xcode projects to `tuist` by using a tool instead of doing that manually would be a huge adaptation booster. When an Xcode project is quite complex, the manual migration is very risky. Thoughts? 🤔

It was the very first question that came to my mind when I saw this project. By having a

[2019-10-10 08:27] pepibumur commented on #507
This has already been done so we can close the issue.

[2019-10-10 08:27] #507 closed

[2019-10-15 06:19] fortmarek opened #549 "Carthage ambiguous signing"
**Describe the bug**
When I have multiple certs in keychain and generate project with tuist with carthage dependendencies, I get this error when trying to build the project:
`Embedding framework Carthage/Build/iOS/UICollectionViewLeftAlignedLayout.framework
iPhone Developer: ambiguous (matches "iPhone Developer: Mr CI (some_id)" and "iPhone Developer: Marek Fort (some_id)" in /Users/marekfort/Libr

[2019-10-15 06:53] fortmarek commented on #246
This would be so great!
Now, I think it might make sense to allow custom naming of the certificates - to make it compatible with whatever conventions the team has, but also should be enough to support `fastlane match`-generated certs out of the box (which will still be a go-to solution for generating certs, at least before that feature is implemented in `tuist`, too)

The security part makes sense

[2019-10-15 13:05] pepibumur commented on #246
Although conforming existing conventions eases the transition to Tuist, we should not let them constraint our design. Signing is an interesting area where Fastlane relieved some pain, but I think there's still opportunity to make signing completely seamless for users.

Rather than saying we should build the feature to run Fastlane, what if we build the feature imagining how we'd love it to be and

[2019-10-15 13:26] #460 closed

[2019-10-15 15:58] asalom commented on #549
I had an issue I think it could be related to this. When you configure the project to use a certain signing identity like `"CODE_SIGN_IDENTITY": "iPhone Developer: iOS Dev"` but you don't have any certificate installed in your keychain matching this name, `tuist embed` finishes with the same/smilar error:

[code]

[2019-10-15 18:52] fortmarek commented on #246
OK, I agree that we should not let our design be influenced by the current conventions 🙂

I still don't really understand where would `master.key` come from - I clone a repo where there are encrypted certificates, I run `tuist generate` - now they should be decrypted with `master.key`, but I don't see where that key came from if I never worked on that project before.

[2019-10-16 06:42] pepibumur commented on #246
The key is generated the first time something needs to be encrypted and should be stored and shared with all the members of the team *(using 1Password or any key management system used at your company)*.

That means that after cloning the repository you'll have to place the key yourself, otherwise features like signing wouldn't work.

Alternatively, we can get rid of that extra layer of security a

[2019-10-16 07:03] fortmarek commented on #246
So, maybe we could allow both approaches, first building out the less safe version, but if there are people who want that extra layer of security, we might allow that later, too? The more secure approach would bring some friction and I feel like that a lot of devs just want it to be as easy as possible and I don't see a reason to force others into the more complicated, albeit a little bit safer, s

[2019-10-16 09:34] pepibumur commented on #246
Agree. The way I picture this feature is allowing automatic renovation of the certs. and provisioning profiles and with extra safety built-in but we can start with something simple and then add those enhancements later. What about something along the lines of:

- Certificates are placed in the `Tuist/Keys` directory. Tuist determines the location of the `Tuist` directory by traversing up the folde

[2019-10-16 09:37] #526 closed

[2019-10-17 06:45] mollyIV opened #554 "Extend `init` command to include the `deploymentTarget` in the generated manifest"
## Context 🕵️‍♀️

Recently we added support for deployment targets.

[code]

## What 🌱

[This is a follow-up task](https://github.com/tuist/tuist/pull/541#issuecomment-541345823) about extending [the `init` command](https://github.com/tuist/tuist/blob/master/Sources/TuistKit/Commands/InitCommand.swift#L128) to include a deployment target attribute in the generated manifest file.

## Proposal 🎉

Do

[2019-10-17 14:58] vytis opened #569 "Scheme for framework should be testable"
**Describe the bug**
A scheme for the framework should have all relevant unit test bundles added as testables i.e. it should be possible to do CMD+U on a framework target.

**To Reproduce**

Setup of a project:
1. Add a Framework target
2. Add a Test target that depends on framework target from step 1.

Steps to reproduce the behaviour:
1. `tuist generate`
2. `tuist focus`
2. Tap Product -> Test o

[2019-10-17 19:07] kwridan commented on #569
Hi @vytis,

You can create a custom scheme in order to customise it to your needs, see [Scheme](https://docs.tuist.io/usage-2-projectswift#scheme) - and an example in this [fixture](https://github.com/tuist/tuist/blob/master/fixtures/ios_app_with_custom_scheme/App/Project.swift).

That said, this seems to be quite a common request as such may make sense to provide the ability to tweak the default

[2019-10-18 11:51] vytis commented on #569
Thanks for answer @kwridan! I have tried added a custom scheme with the same name as my framework target and it seems to override the default configuration. Not sure if it's intended to be this way, but the proposed approach worked.

However it seems that this should be the default behaviour - I don't think there are any disadvantages to adding testables to framework target. As a data point, if yo

[2019-10-21 14:18] muellerando opened #586 "Embedded Framework not loaded || Mutliple commands produce"
**Describe the bug**
I have got this carthage dependency:
`				.framework(path: "../Carthage/Build/iOS/UICKeyChainStore.framework"),
`
The Project builds nicely in xcode. But when i try to run the App i got following error:

[code]
If I try to change to Library to be embedded, xcode build complains: `Multiple commands produce: ....`

Does anyone has got an idea what could be the problem?
PS: I tri

[2019-10-21 15:56] pepibumur commented on #586
Hey @muellerando, thanks for reporting this. Would you mind [creating a reproducible](https://docs.tuist.io/contribution-tuist#how-to-make-a-minimal-reproduction) project that helps us reproduce the issue?

[2019-10-21 16:57] kwridan commented on #569
Thanks for the follow up @vytis !

Indeed `SchemeGenerator` is the right component for this. I agree revisiting the defaults here may be needed.

May help for us to talk through some examples to clarify the use cases:

- Project
  - TargetA _(Application)_
      - Dependencies: [TargetB]
  - TargetATests _(Unit Tests)_
      - Dependencies: [TargetA]
  - TargetAUITests _(UI Tests)_
       - Depend

[2019-10-22 06:56] pepibumur commented on #569
You raised a very interesting point here @vytis. I think Tuist should do its best effort to get a project that just works. Having to know about implementation details, and configuring the schemes is, is what makes Xcode not as nice as it could be.

What I would do is add a new option to the `TuistConfig` where the users can opt-in to this feature. Something along the lines of:

[code]

When that v

[2019-10-22 08:21] ollieatkinson commented on #569
@kwridan You're right that the `Project` scheme played funny with Carthage, however the framework being testable will not introduce any additional schemes so I think we would be OK here.

Why would we not make this setting the defacto behaviour? We currently infer settings for UI Test Targets in the same way - I think that we should be able to implicitly link them up for you. If we cannot determin

[2019-10-24 09:03] pepibumur commented on #569
Thinking about it again, I agree with you on making this the defacto behavior. When we generate the projects, we can put the schemes in 2 groups:

- The schemes generated by Tuist.
- The schemes defined by the user.

In case of the first group I'd be opinionated and generate something that **works**. In case the user is not happy with the generated scheme they can define their own scheme or open a

[2019-10-30 11:58] abbasmousavi opened #618 "Ability to specify targets to gather coverage info for"
## Need/problem

I want to be able to specify the targets that Xcode reports test coverage for them. Currently we can only specify if we want the code coverage or not in `TestAction(targets: [Targets], coverage: true)`

![Screenshot 2019-10-30 at 11 55 31](https://user-images.githubusercontent.com/1249875/67856349-3e01de80-fb0c-11e9-9434-997332509013.png)

## suggetion

We can add a new argument t

[2019-10-30 23:50] abbasmousavi commented on #618
I just noticed that there is a `codeCoverageTargets` property in `TestAction` in `XcodeProj`. I will open a PR to add this to Tuist.

[2019-10-31 01:25] lakpa opened #620 "Cannot build and run Tuist project with Xcode 11.2 beta 2"
I am trying to build and run the project with Xcode 11.2 beta 2 but it is complaining about missing `Package` and `DeploymentTarget`, are there anything missing which i should be doing to run `tuist` target.

[2019-10-31 01:48] lakpa commented on #620
I've missed updating updating the repo, after updating it worked fine.

[2019-10-31 01:48] #620 closed

[2019-10-31 08:49] pepibumur commented on #618
Awesome! Thanks for contributing this feature yourself. We appreciate it a lot @abbasmousavi.
By the way, I reviewed the PR and it's very well implemented for being your first contribution, congrats 👏

[2019-11-01 10:46] pepibumur commented on #586
This should be fixed [here](https://github.com/tuist/tuist/pull/610), would you mind doing the following in your project and check out if the issue is still happening?

1. Run `tuist local 8df4e6464b4561808bd76225537dd75cf21aaa79` in the project directory.
2. Then run `tuist generate`. It'll take a while because it'll compile the latest version from master.
3. Open the generated project and try to

[2019-11-01 10:47] pepibumur commented on #549
@fortmarek would you mind trying out the latest commit from master to see if that solves the bug that you are facing here?

[2019-11-02 10:17] fortmarek commented on #549
Seems to be working well, closing the issue, thanks! 🎊

[2019-11-02 10:17] #549 closed

[2019-11-04 10:12] #618 closed

[2019-11-04 10:24] aethe opened #624 "Incompatibility With New Swift Versions"
When a new version of Swift is released, it's not supported by Tuist, unless Tuist is rebuilt with the new version of Swift.

Specifically, running `tuist generate` produces the following error:

[code]

The issue has been discussed in Slack.

Tuist version: 0.18.1
Xcode version: 11.2
macOS version: 10.15.1

[2019-11-04 12:49] #624 closed

[2019-11-06 09:42] pepibumur opened #626 "Depend on swift-tools-support-core instead of the swift-package-manager package"
## Context 🕵️‍♀️
As described [here](https://github.com/apple/swift-package-manager/blob/master/Documentation/PackageDescription.md#package-dependency-requirement):

Packages that depend on the generator target of Tuist will have issues resolving the dependencies because the SPM doesn't support version-based dependencies that have branch-based dependencies. Carthage, for instance, dropped its depe

[2019-11-06 14:45] kwridan opened #628 "Standalone watchOS apps support"
# Overview

#623 adds initial support for watchOS platform targets to Tuist. In effort to incrementally add the necessary features this issue will list out the remaining items needed.

# Requirements

- [x] #623: Allow generating watchOS platform targets
- [x] #756: Add support for generating InfoPlist for watchOS apps
- [ ] Generate appropriate schemes to enable running watchOS apps
- [ ] Add sta

[2019-11-07 08:04] pepibumur commented on #628
Thanks for opening this up @kwridan :)

[2019-11-12 15:51] pepibumur commented on #586
@fortmarek already reported that the fix works so I'm closing this. If it happens to you again feel free to reopen the issue @muellerando

[2019-11-12 15:51] #586 closed

[2019-11-12 22:34] marko1503 opened #657 "Enable support swift version"
**Describe the bug**
I have Xcode 11.2, I do start guide, during executing the command `tuist generate` I have an error.

**To Reproduce**
Steps to reproduce the behavior:

1. Install latest Xcode 11.2
2. Install tuist https://docs.tuist.io/
3. tuist init --platform ios --product application
4. `tuist generate`
5. Error: Command exited with error code 1 and error: /Users/user/test/TuistConfig.swif

[2019-11-12 23:35] kwridan opened #658 "Duplicate symbols in unit tests and host applications"
**Describe the bug**
Generating projects that leverage static products can yield duplicate symbols in unit tests and their host application.

Scenario:

- App > StaticFramework
- UnitTests > StaticFramework
- UnitTests hosted within App

**To Reproduce**
Steps to reproduce the behavior:

1. Update `fixtures/ios_app_with_static_frameworks` such that the test target now depends on the static framewo

[2019-11-13 07:52] pepibumur commented on #657
Hi @marko1503, first of all, thanks for reporting this. We are already aware of this and we are working on fixing it as soon as possible. To unblock you, you can follow the steps below:
1. Run `tuist local master`.
2. Then run `tuist generate`.

That'll create a `.tuist-version` file in your project's directory. Tuist will compile the latest version from master and install it in your local environ

[2019-11-13 08:40] kwridan opened #659 "Add default configurations and known regions to generated projects"
**Status**
- [x] #792: Add knownRegions to generated projects
- [x] #793: Add defaultConfigurationName to generated projects

**Describe the bug**
Generated projects currently do not specify the known regions and the defaultConfigurationName. This often leads to the generated project getting updated by Xcode either on Launch or once any modification takes place.

**To Reproduce**

1. run `tuist ge

[2019-11-13 09:09] kwridan opened #660 "`LD_RUNPATH_SEARCH_PATHS` setting is missing in test targets"
**Describe the bug**
Generating project with unit test targets is missing the `LD_RUNPATH_SEARCH_PATHS` build setting.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `tuist generate` on `fixutres/ios_app_with_tests`
2. Open the generated project
3. Inspect the build settings for `LD_RUNPATH_SEARCH_PATHS`
4. Notice it's not being set!

**Expected behavior**
The `LD_RUNPATH_SEARCH_PATHS`

[2019-11-13 14:06] #660 closed

[2019-11-13 23:55] lakpa commented on #401
I am running a thought as if taking @kwridan first approach would be better as `xcframework` has new `Bundle OS Type code` which is `XFWK` and representing it with its new dependency type appears suitable enough to avoid messing with existing `framework` dependency type. Besides its configuration `info.plist` is different than `static/dynamic` framework types which as follows

<img width="510" alt

[2019-11-14 09:27] pepibumur commented on #401
Agree. I'd define a new dependency type instead of messing the existing `.framework`.

[2019-11-14 10:59] adamkhazi opened #665 "Info Plist Extension `.xml` removed"
**Describe the bug**
Looks like `lastKnownFileType` for `isa = PBXFileReference` is now referencing plist files with the `.plist` file extension. I believe this extension used to be `.plist.xml` in the past and it is currently how Xcode does it as well.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'fixtures/app_with_framework_and_tests' (should occur on other fixtures as well)
2. `

[2019-11-14 11:24] #658 closed

[2019-11-14 12:55] andreacipriani opened #666 "Circular dependencies"
**Describe the bug**
Tuist reports an error with circular dependencies, but it doesn't seem to be the case.

**To Reproduce**

Follow the steps and the example proj in [this repo](https://github.com/andreacipriani/tuist-circular-dependency-example/blob/master/README.md)

**Desktop (please complete the following information):**

- OS: macOS
- Version 10.14.6

[2019-11-14 13:11] pepibumur commented on #666
Thanks for reporting this @andreacipriani. I'll investigate it further but looking at your example it seems a bug because there's no circular dependency.
@kwridan since you are more familiar than me with that part of the codebase, can you think of anything that might be causing it?

[2019-11-14 13:18] andreacipriani commented on #666
Thanks @pepibumur, let me know if I can help, I prefer to open PRs rather than issues :)

[2019-11-14 13:20] pepibumur commented on #666
@andreacipriani you can pull the project and do `swift package generate-xcodeproj`. That'll generate an Xcode project that you can open. Then select the scheme `tuist` to run the command line tool from Xcode. Edit the scheme to indicate that you'd like to pass the `generate` argument and change the working directory to the directory where the project is. Then hit run and it should run the generati

[2019-11-14 13:26] kwridan commented on #666
Hi @andreacipriani, thanks for flagging this.

I believe we have a fix for this going out in the next release #546.

You can try using tuist master by running:

[code]

to see if the issue is still there using the latest master.

[2019-11-14 13:35] pepibumur commented on #666
Could you confirm if that fixes your issue @andreacipriani ?

[2019-11-14 14:11] andreacipriani commented on #666
Confirmed! It's fixed on `master` on my example proj 🙌🙌
Thanks everyone!

[2019-11-14 14:59] adamkhazi opened #667 "Custom Workspace Schemes"
## Need/problem

Currently in tuist custom schemes can be specified in the `Project.swift`. A limitation of the current implementation is that a scheme can only reference targets specified in the current project. It would be nice to also reference targets in other projects in the workspace that are in dependencies of the current project's targets (whether transitive or not). This would make custom

[2019-11-14 18:17] pepibumur opened #668 "Project description helpers"
## Context 🕵️‍♀️
We've merged the first part of the project description helpers, but it's not yet in a good state to be used by the users. This issue lists some of the things should be tackled before we consider the feature done.

## What 🌱
- [x] Document how to use the feature.
  - Pull request: https://github.com/tuist/tuist/pull/692
- [x] Cache the project description helpers framework across r

[2019-11-15 08:22] adamkhazi commented on #667
Upon thinking about this issue further and discussing with @kwridan, it might make more sense to implement this custom scheme API at the workspace level rather than the project level.

[2019-11-15 08:23] pepibumur commented on #667
Hey @adamkhazi, I think this is a good idea.

I agree with your point here on making sure that we maintain the safety through the checks. Adding safety as much as we can has been one of Tuist's principles and I think we should continue embracing this principle.

Do you have an example of that API?

[2019-11-15 13:56] #666 closed

[2019-11-15 17:49] adamkhazi commented on #667
Hey @pepibumur, I've been prototyping a way to add custom schemes to the workspace level while using the same custom scheme generation functions we already have for use during generation of custom workspace and project schemes. I would like to avoid duplicating scheme generation code for the two cases.

For the API for custom schemes at the workspace level it would look very similar to the way it

[2019-11-16 23:03] marko1503 commented on #657
fixed in 0.19

[2019-11-16 23:03] #657 closed

[2019-11-16 23:10] rowwingman opened #670 "DefaultSettings is missing none case"
**Describe the bug**
Project.settings.defaultSettings should has none case, but it doesn't exist. You can find it on documentation https://docs.tuist.io/usage-2-projectswift#defaultsettings
In my case, all settings are in `xcconfig` file, I want to control all them in that file. So I want to disable override by tuist.

**To Reproduce**
Steps to reproduce the behavior:
1). Create settings for `Proj

[2019-11-18 11:25] pepibumur commented on #670
Thanks for reporting this @marko1503. We have support for it but we forgot to add a public API. Would you like to open a PR yourself? You'll need to include the `none` case [here](https://github.com/tuist/tuist/blob/master/Sources/ProjectDescription/Settings.swift#L142) and extend [this method](https://github.com/tuist/tuist/blob/master/Sources/TuistKit/Generator/GeneratorModelLoader.swift#L410) t

[2019-11-18 13:19] pepibumur commented on #667
Hey @adamkhazi. I really like the API and the plan that you are proposing for the implementation. I'm also curious about what @tuist/core thinks about it. I personally can't think of any rabbit hole that we might be disregarding but it's good to double check with more people just in case.

Thanks for bringing up this proposal 😛

[2019-11-18 17:16] pepibumur opened #693 "Require the TuistConfig.swift file to be in the Tuist directory"
## Context 🕵️‍♀️
With the introduction of the `Tuist` directory to contain the project description helpers and other global files, I think we should require the `TuistConfig.swift` to be there for consistency reasons.

[code]

## What 🌱
I propose the following to avoid this being a breaking change:

- Try to find the TuistConfig using the current logic. If we find it, print a warning letting the u

[2019-11-19 23:38] rowwingman commented on #670
@pepibumur How can I test the tool localy? Should I replace `tuist` at /usr/local/bin/tuist manually?

[2019-11-20 14:36] santosdiez opened #699 "Missing .bcsymbolmap files during the rsync stage"
## Context 🕵️‍♀️

After upgrading to the latest version (0.19) we have started facing some issues when trying to compile the project in a different machine from the one where it was generated.

## What 🌱

Due to business needs, our CI machines are still running Xcode 10, but our development machines are already using Xcode 11. Everything has been working well so far, until we upgraded to tuist 0.1

[2019-11-20 16:08] pepibumur commented on #670
You can run the `tuist` scheme. If you edit the scheme you can set the `generate` argument, and change the working directory to point to the directory where the project is defined. Before running the `tuist` scheme, make sure you build the `tuist-Package` scheme first.

[2019-11-20 18:01] kwridan commented on #699
Hi @santosdiez

Thanks for flagging this.

As a suggestion you can pin to the previous version in the interim.

`tuist version 0.18.1`

[2019-11-20 18:18] kwridan commented on #699
Performing a quick sanity check, the `xcrun dwarfdump --uuid` is stable across Xcode versions

With Xcode 11.2
[code]

With Xcode 10.3:
[code]

When carthage builds those frameworks, it produces slightly different products depending on Xcode versions hence the difference in UUIDs.

An interesting one to figure out 🤔

[2019-11-20 18:27] kwridan commented on #699
One option could be to allow customising the embed command

[code]

Then in `TuistConfig.swift`

[code]

Under the hood this would apply generate a build phase with:

[code]

With:

Input files:
[code]

Output files:
[code]

[2019-11-20 18:44] santosdiez commented on #699
That last one seems to be a good way to go. The way I see it, those UUIDs cannot be explicitly added to the project, since as we've seen.. those might change.

Given that when using Carthage you are already relying on it, makes sense to add that traditional `copy-frameworks` stage at some point, and leave it all to Carthage, making it much more dynamic.

We will stick to the previous version in th

[2019-11-21 10:11] #670 closed

[2019-11-23 00:28] rowwingman commented on #667
Great, that is exactly  what I need :)
What about provide `Testability` parameters: randomize and parallel executing?
What about test plans Xcode 11 new feature ?

[2019-11-24 14:53] rowwingman commented on #367
What if we will add exclude rule. So it will be like this:
[code]

[2019-11-24 20:22] kwridan opened #705 "Header improvements"
# Overview

Devising glob patterns for headers in existing projects with Objective-C / C++ code can be quite challenging as there isn't a standardised convention to distinguish which headers are public, private, project or even completely excluded.

In projects, it's also not uncommon to have headers with no visibility attributes what so ever (e.g. Application and Test targets - #367)

# Suggestio

[2019-11-24 20:24] kwridan commented on #367
I believe an `exclude` rule will be useful in its own right - the question what that should do - exclude completely (not even as a fileReference) or excluded from header visibility attributes but included in the Xcode Project? I can see use cases for both. I've create #705 to help us discuss this further and added a few more ideas.

This particular issue is for the case you have an Application tar

[2019-11-24 20:52] rowwingman commented on #705
I believe, that exclude something from each type of header is more flexible. You can have different structure of your project. So in this way what you can:
[code]

We can create a new struct that will describe what you want to include:
`Header(path: Path, exclude: [Path])`, the same problem can be for the `sources`. Maybe it should be something more generic, however for more generic, I don't know

[2019-11-24 21:25] rowwingman opened #707 "TestAction has Testability instead of targets"
## Need/problem

Add options to test target in test action:
*  Execute in parallel
* Randomize execution order

<img width="345" alt="Screenshot 2019-11-24 at 21 57 01" src="https://user-images.githubusercontent.com/351837/69501450-5bf11200-0f05-11ea-9d66-a50ee52720c6.png">

## Motivation

Configurate each test target with options (Execute in parallel and Randomize execution order).

## Detailed d

[2019-11-24 21:50] rowwingman commented on #707
Quick prototype of the API https://github.com/rowwingman/tuist/commit/dd34bd234f096e77b7b5c374289952c58642c21a

[2019-11-25 09:35] pepibumur commented on #367
Agree. I don't think we need to extend the API here, just generate the project with the right configuration.

[2019-11-25 09:40] pepibumur commented on #705
Thanks for taking the discussion ton an issue.

If what we are trying to solve is [this](https://github.com/tuist/tuist/issues/367), I believe we should not complicate the API because the solution can come down to not adding a headers build phase if the target is an application.

The way I see adding a `exclude` argument is something like: Hey, I know the organization of the headers in directories

[2019-11-25 10:10] rowwingman commented on #705
There is always a debut about how what is the best struct of a project.
First, all the discussion is relevant only for objc.
Let me give you some examples.
1).  `Bridging-Header` It's should be in `Sources` folder or `Sources-Project`. In my opinion both works.
2). You are building a framework on objc, and for example, you will write something similar to NSNumber (class cluster), what is the best

[2019-11-25 10:29] pepibumur commented on #705
Glob expressions [should be supported](https://github.com/tuist/tuist/blob/master/Sources/ProjectDescription/FileList.swift#L3) by headers. Isn't that enough to express public, project, and private headers?

[2019-11-25 10:31] pepibumur commented on #707
This features is reasonable, thanks for bringing it up @rowwingman. Would you mind opening a PR with the API proposal? I had a look at it and it looks good to me.

[2019-11-25 10:48] rowwingman commented on #707
@pepibumur Yes, sure. I just need some help with naming.
Not sure that `tests: [Testable]` tests, is good, can be misleading.
I'm also not sure with `Testable`. So if you can suggest better naming, that will be nice

[2019-11-25 10:58] pepibumur commented on #707
I'd not change the name because it's a breaking change. Unless you believe the current name is very misleading in which case we can introduce a new attribute but with a deprecation strategy in place.

[2019-11-25 10:58] kwridan commented on #667
+1 on the proposal - this will help us manage schemes across our entire workspace.

I've been paring with @adamkhazi on this, should be ready soon :)

@rowwingman re: the other attributes, they would be really useful addition too. Thanks for spinning that up in a separate issue 👍

[2019-11-25 20:29] rowwingman commented on #707
What is the reason to have the same classes with the same semantic in `ProjectDescription` and `TuistCore`?

[2019-11-25 21:10] rowwingman commented on #667
Maybe you will be interested in https://github.com/tuist/tuist/pull/722

[2019-11-25 22:08] rowwingman opened #723 "Empty folders Derived.InfoPlists"
**Describe the bug**
Each `Project.swift` file generates `Derived.InfoPlists` empty folder. How to avoid it?

[2019-11-25 23:38] rowwingman commented on #657
@pepibumur I've tried
1. `tuist local master`
2. `tuist generate` # doesn't download latest master.
3. `tuist version` # outputs 0.18.1

What I'm doing wrong?

[2019-11-26 14:50] kwridan commented on #276
Resolved via https://github.com/tuist/tuist/pull/610

[2019-11-26 14:50] #276 closed

[2019-11-26 14:51] kwridan commented on #170
Resolved via #668

[2019-11-26 14:51] #170 closed

[2019-11-26 14:52] kwridan commented on #240
resolved via #703

[2019-11-26 14:52] #240 closed

[2019-11-26 17:50] pepibumur commented on #170
![giphy](https://user-images.githubusercontent.com/663605/69658979-8f56ac80-107d-11ea-849c-60d737fa2bb9.gif)

[2019-11-26 17:50] pepibumur commented on #276
![gif](https://media.giphy.com/media/10hO3rDNqqg2Xe/giphy.gif)

[2019-11-26 17:51] pepibumur commented on #240
![image](https://media.giphy.com/media/26tPghhb310muUkEw/giphy.gif)

[2019-11-27 13:38] pepibumur commented on #723
This is a regression. The derived directory shouldn't get created if there are no derived files.

[2019-11-27 13:47] pepibumur commented on #707
There are a few reasons:
- The models in `ProjectDescription` are specific to Tuist; that allows developers reusing the generation logic providing their own models. That's what Bloomberg is doing (cc @kwridan)
- We can keep the models in the `ProjectDescription` very lean while adding convenience methods and some other features to the models in `TuistCore`. One of those features for instance is th

[2019-11-28 18:42] sgrgrsn commented on #458
I would like to contribute on this one, but I have only been playing around with Tuist for now. Do you have any suggestion on how I could get started contributing to this feature?

[2019-11-29 07:40] kwridan commented on #458
Hi @sgrgrsn!

I'm glad to hear you're interested in contributing to Tuist!

@pepibumur has put together a fantastic contributors guide to help them get started on which you can find on https://docs.tuist.io/contribution-tuist

Once you've got Tuist up and running locally you can have browse through the source code. There have been a few PRs to update schemes recently, those should help show cases

[2019-11-29 08:11] sgrgrsn commented on #458
Thanks - I'll have a look at it as soon as possible 👍

[2019-12-01 15:42] #707 closed

[2019-12-05 08:13] kwridan opened #750 "Custom `*_SEARCH_PATHS` build settings are ignored"
**Describe the bug**
Specifying a custom `HEADER_SEARCH_PATHS` or `FRAMEWORK_SEARCH_PATHS` build setting in manifest is ignored in the event a project has a static library dependency.

**To Reproduce**
Steps to reproduce the behavior:

1. Update the fixture `fixtures/ios_app_with_static_libraries/Modules/A/Project.swift`

[code]

2. Run `tuist generate` within `fixtures/ios_app_with_static_librari

[2019-12-05 13:53] #750 closed

[2019-12-06 20:01] fortmarek commented on #450
I looked at this quickly and it seems to me this will need only really small changes (kudos to [xcdiff](https://github.com/bloomberg/xcdiff)) - the summary of what we might need to change:
- adding `ContentView` (simple `some View`)
- changing initializer from `UIViewController` to `UIHostingController`
- adding `ENABLE_PREVIEWS = YES;` in `buildSetting` in `.pbxproj`
- there's also preview assets

[2019-12-09 01:36] pepibumur commented on #450
xcdiff is pure gold ❤️

Agree. Keep in mind that this has only been requested here so this is something that not many users might need. If we see more related-requests we can give this one another thought.

I'm planting a seed for thought here. What if we take this and build an scaffolding feature into Tuist using templates. Imagine the following structure inside the `Tuist` directory:

[code]

Wi

[2019-12-10 11:33] pepicrft opened #780 "Add support for detecting unused code"
## Context 🕵️‍♀️
I just came across [this tool](https://github.com/woshiccm/Pecker) that can be run from a build phase and warns the user about unused code.

## What 🌱
I think this is a feature that we could add to Tuist and help the developers keep their projects free of unused code. The tool parses the information dumped by SourceKit and generates diagnosing messages using SwiftSyntax's utilitie

[2019-12-10 14:15] lakpa commented on #780
I am wondering, how feasible would it be to allow user to run any tools with proper abstraction around such as `build rule` in `xcodegen` instead of users being forced to use this tool or none, do we have any such configuration in existence?

[2019-12-10 16:05] #667 closed

[2019-12-10 16:36] pepibumur opened #781 "Fail CI if conventions are not followed"
## Context 🕵️‍♀️
As mentioned by @andreacipriani [in this comment](https://github.com/tuist/tuist/pull/770#discussion_r355393796), PRs that don't follow the naming conventions are not reported as failing.

## What 🌱
- Double-check if the linting workflows are doing their job.

[2019-12-10 22:00] kwridan commented on #780
+1

Agree with @lakpa , it’s cool to have Tuist enable such integrations but not necessarily bundle in the integration itself. As I’m sure there are other examples and tools where integrations would be desired.

[2019-12-10 22:06] kwridan commented on #780
Reading through the readme - Tuist is able to support this already via TargetActions.

With the introduction of project description helpers having this applied to all targets is now really easy too 👍

[2019-12-11 10:28] pepibumur commented on #780
It wouldn't be forcing users, just providing a default on what we believe are best practices for the project. Some projects might want to use their own tool, and that's fine, but if we provide them with a built-in feature, that's one less thing most projects will have to think about.

For instance, if you think about programming languages like Go, projects don't have to think about code formatting

[2019-12-11 13:24] adri4silva opened #784 "As a developer I want to have different levels of logging"
## Need/problem

Right now Tuist doesn't support logging.

## Motivation

As a developer I want to configure the logs that Tuist throws.

## Possible result

When executing tuist generate by default the logs could be only blocking errors. We can implement a verbose solution like `tuist generate -v` to print all the logs.

[2019-12-11 17:41] fortmarek commented on #450
That's a great idea! I think it'd be interesting to talk with the people who use the project if they would be interested in something like this and how exactly they would use it. This could also maybe be combined with @kwridan idea of `InitOptions` in `TuistConfig` - the teams could describe what their default template for a new framework is etc., so the user does not have to make that choice ever

[2019-12-12 13:05] rowwingman opened #786 "Publish release cycles"
## Need/problem

Make one week or two weeks release cycle. Create a release with some period makes it easier to adopt the current project to the changes. So everyone who uses the tool, can get improvements and updates as soon as possible without a fork or wait until release will be published.

## Motivation

Make releases, for example, every Monday, or every second Monday. The tool is under develo

[2019-12-12 17:30] marciniwanicki opened #788 "Code coverage is no longer working"
**To Reproduce**
Create a PR, coverage heat map is not posted in the comments.

**Expected behavior**
coverage heat map / deltas should be posted in the comments.

**Additional context**
Looks like we're missing the codecov token in the github actions.

[code]

I guess we can use https://help.github.com/en/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets to

[2019-12-15 18:54] marciniwanicki opened #791 "Lost order of launch arguments in schemes"
**Describe the bug**

The order of the arguments cannot be defined in the manifest as such the list of arguments cannot be split into multiple lines to ease to process or enabling / disabling them individually

i.e.
<img width="918" alt="Screen Shot 2019-12-15 at 6 34 32 PM" src="https://user-images.githubusercontent.com/946649/70867122-9e889600-1f69-11ea-88d5-a6de08cc4520.png">

where user can ch

[2019-12-15 19:52] lakpa commented on #786
@tuist/core wondering if we can consider setting up nightly build release cycle.

[2019-12-16 08:32] pepibumur commented on #788
`swift test --enable-code-coverage` ❤️

Thanks for bringing this up @marciniwanicki. It might have something to do with the secrets not being available on CI when the workflows are run from forks. I'll look into it.

[2019-12-16 08:37] pepibumur commented on #784
@ollieatkinson is this something you already started working on?

[2019-12-16 08:37] pepibumur commented on #791
This has been fixed [here](https://github.com/tuist/tuist/pull/790). Therefore I'm closing this issue.

[2019-12-16 08:37] #791 closed

[2019-12-16 08:41] pepibumur commented on #786
Nightly might be too much because we are not merging improvements & fixes that ofetn.  What about a weekly or biweekly cadence? Let's say every Friday?

[2019-12-16 08:54] lakpa commented on #786
Weekly would work

[2019-12-16 09:19] ollieatkinson commented on #784
@pepibumur yes, I will finish this up. I originally just focused on verbose logging but need to re-evaluate with the use of log levels.

[2019-12-16 12:19] pepibumur commented on #784
Awesome! Looking forward to it.

I'm closing this issue in favor of [this one](https://github.com/tuist/tuist/issues/39)

[2019-12-16 12:19] #784 closed

[2019-12-17 09:21] dependabot-preview[bot] opened #807 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2019-12-17 16:47] vytis opened #808 "Add a glob for excluding files from target"
## Need/problem

I have a project that uses a pattern of keeping test files next to source code e.g. :

[code]

I would like to specify that:
1.  My main target would have `["One.swift", "Two.swift"]`
2. The test target would have `["OneTests.swift"]`

Using the current glob syntax for source files I could use `**/*Tests.swift` that covers no. 2, but there seems to be no way to do a "negative" glo

[2019-12-17 21:13] kwridan commented on #808
Hi @vytis

Thanks for the suggestion and the detailed proposal 👍

We follow a similar convention for one our projects at work. Agreed not super standard, but can be really useful in large projects.

Swift PM has exclude as a sibling of `sources` in `Target` - (https://developer.apple.com/documentation/swift_packages/target)

I like your suggestion as it provides more flexibility:

[code]

Adding e

[2019-12-17 21:16] kwridan commented on #659
#792 and #793 have been merged 🎉

[2019-12-17 21:16] #659 closed

[2019-12-17 21:20] kwridan commented on #705
Worth considering the `exclude` for headers and sources together (brought up in #808) to ensure the API is consistent.

[2019-12-17 21:25] kwridan commented on #569
@vytis would you still be interested in pursuing this?

Looks like there's more or less agreement on making the default schemes testable per your suggestion.

Does the example I provided in https://github.com/tuist/tuist/issues/569#issuecomment-544608529 match your expectations on how this would work?

[2019-12-17 21:33] kwridan commented on #169
This is somewhat related to the thread discussion in #785 https://github.com/tuist/tuist/pull/785#discussion_r358277639

[2019-12-17 21:35] kwridan commented on #261
I believe this has already been implemented 👍

#380 & #448

[2019-12-17 21:35] #261 closed

[2019-12-17 21:38] kwridan commented on #183
With the introduction of the edit command #703, one idea would be to create a custom scheme that runs `tuist` with launch arguments of `generate --path /path/to/project`

[2019-12-18 09:53] pepibumur commented on #808
I really like what you suggested @vytis. It's not a breaking change, and I think the resulting API is very straightforward.

Would you like to work on that one?

[2019-12-18 09:57] pepibumur commented on #705
Agree. We should apply the exclude API to all the models that define a list of files.

[2019-12-18 10:19] vytis commented on #808
I would give it a go - seems like an easy one to start with!

[2019-12-18 10:44] pepibumur commented on #808
Awesome! Thanks for bringing it up btw.

[2019-12-18 15:08] #808 closed

[2019-12-18 15:47] vytis commented on #705
So which places would this be? I found `FileElement` and `FileList`? Or there are some others that should be extended in a similar way?

[2019-12-18 15:54] pepibumur commented on #705
Those should be enough. It might be worth evaluating whether it makes sense to merge some of them as part of this effort. What do you think @vytis ?

[2019-12-18 16:02] vytis commented on #705
Yeah it seems there is a different struct for each use case. How do you feel about changing the types in ProjectDescription? It seems like a breaking change...

[2019-12-18 16:20] vytis commented on #569
@kwridan yes, I could try tackling this. The comment describes exactly what I had in mind!

[2019-12-18 18:27] #807 closed

[2019-12-18 18:28] pepibumur commented on #705
I'd figure out if there's a way to do the merge without introducing a breaking change. It might not be possible though, in which case, I'd avoid adding the breaking change and rather, open an issue to tackle this before the next major version. What do you think?

[2019-12-18 20:00] fortmarek opened #813 "Scaffold - tuist templating"
## Need/problem

Following up on swiftUI template PR from [here](https://github.com/tuist/tuist/pull/785), it makes sense to make something more generic, so adding such new templates is easy and can be read dynamic from one directory. It can also enable users to define their own templates, in addition to the basic ones offered by tuist.

## Motivation

Improving upon projectDescription helpers, th

[2019-12-19 06:56] pepibumur commented on #813
Hey @fortmarek, first of all, thanks for coming up with such a detail proposal. Let me dump my thoughts on some of the points that you touch on:

Agree. In fact, I'd require users to include a description with their templates that we can show next to the identifier when listing them:

[code]

That sounds a good idea!

Agree. We could bundle some templates with Tuist.

Would you then bundle those a

[2019-12-19 09:32] vytis commented on #705
Agree that it's not worth making changes like this without careful consideration. I will try to figure something out, maybe it would be possible to factor out some of the functionality in a single place.

[2019-12-19 18:05] kwridan commented on #813
I like the detailed proposal @fortmarek 👍

Something like this would be a great addition to Tuist.

I wonder what the difference between `tuist init` and `tuist scaffold` would be? They seem fairly similar as they both add files from templates. Would adding the `--template` option to `init` per your suggestion alleviate the need for a dedicated command?

Could the files currently generated via `tu

[2019-12-19 21:02] fortmarek commented on #813
Thanks for the comments @kwridan and @pepibumur! I'll try to answer or expand on the points you have raised:

That sounds like a good idea, definitely something we should implement!

What kind of definition? As in `Project.swift` config file or what exactly would be defined there?

Agree!

Yep, probably better to wait for the use case to emerge before starting to implement it.

Implementation-wise

[2019-12-20 12:17] pepibumur commented on #813
Agree with this one. Rails for instance uses `init` to bootstrap a project with some conventions that just works, and then `generate` *(the equivalent to our scaffold)*, to initialize components for the project.

[2019-12-20 14:20] decanus opened #819 "Tuist install script installs old version"
Tuist install script installs old version

[2019-12-20 21:24] kwridan opened #820 "Performance Profiling & Testing"
## Need/problem
Introduce a mechanism to aid profiling and performance testing Tuist

## Motivation
We’ve noticed the generation process can take upward of a minute in one of our use cases which we feel is on the slower side and would like to investigate if there are any improvements we can make.

The generation process needs to be fairly fast. Especially when moving to a workflow where the projec

[2019-12-20 21:29] kwridan commented on #819
Hi @decanus thanks for flagging this

Which commands have you tried running?

[code]

Should update to the latest version - let us know if this works for you.

[2019-12-23 08:29] pepibumur commented on #820
Hey @kwridan. Thanks for bringing this up. This is another matter that I believe is the right time to tackle. I think @andreacipriani is also interested in contributing to this one to speed up the generation of projects at SoundCloud.

I agree with the execution that you are suggesting here. Having a tripwire that fails PRs when they make the generation slower is crucial to prevent regressions.

W

[2019-12-23 11:13] vytis commented on #820
I agree that performance testing be very useful to do and could uncover unexpected regressions (or places to improve). Having a fixture generator is a good idea, but as with all synthetic benchmarks it is possible that it would not reflect real use cases.

The existing fixtures seem to exercise most of the features of Tuist and might be a good candidate for benchmarks. It also has the advantage th

[2019-12-23 14:32] decanus commented on #819
@kwridan worked

[2019-12-23 17:18] #569 closed

[2019-12-23 17:59] lakpa commented on #401
@kwridan can we close this?

[2019-12-23 23:01] rowwingman opened #836 "Disable schemes automatic generation"
**Describe the bug**
I create custom scheme in my `Project` file. I have 2 targets: framework and unit tests. I created a scheme that has my framework and unit tests in tests action. Then I generate project and as a result I have 3 schemes:
`Framework` unit tests
`FrameworkTests` unit tests that I declared as a target
`Framework 1` framework.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2019-12-23 23:14] rowwingman commented on #836
I have a question about this code:

[2019-12-24 00:17] #836 closed

[2019-12-24 08:53] #819 closed

[2019-12-24 23:00] rowwingman opened #837 "What is the way to add Developer sdk like xctest.framework?"
## Question

What is the right way to add develooper sdk like xctest.framework to the target. Can we add `xctest.framework` by default to unit tests and ui tests targets?

[2019-12-27 09:32] andreacipriani opened #839 "Missing configurations from "Build configuration list for PBXProject""
**Describe the bug**
When creating a project with multiple `xcconfig files`, some of them are missing from the `Build configuration list for PBXProject` of the generated project.

**To Reproduce**
I've created a simple project to reproduce the error:

https://github.com/andreacipriani/tuist-configurations-error

**Expected behavior**
The `Alpha` configuration is included in the `Build configuratio

[2019-12-27 09:32] andreacipriani commented on #839
cc @pepibumur, I'm having a look at this today

[2019-12-27 11:07] andreacipriani commented on #839
I run a debug session and understood the problem.

In your manifest, you need to be sure to pass the custom settings also at the project level. If you don't (they are optional), Tuist defaults to [.default](https://github.com/tuist/tuist/blob/9433dc9f9a85ec3dc29527e38d871a47afe691e0/Sources/TuistCore/Models/Settings.swift#L57).

This was creating confusion on my mind because I was seeing the `debu

[2019-12-27 15:18] pepibumur commented on #786
I've included a documentation page [on this PR](https://github.com/tuist/tuist/pull/841) setting the cadence to 2 weeks for now. If we notice it's not frequent enough, we can reconsider it.

[2019-12-27 15:19] #786 closed

[2019-12-28 08:13] pepibumur commented on #668
The only missing part is extending the init command to support initializing standalone projects. Since something along those lines will be done as part of [this effort](https://github.com/tuist/tuist/issues/813), I'm closing this issue.

[2019-12-28 08:13] #668 closed

[2019-12-30 17:26] pepibumur opened #848 "Pull Tuist from GCS when installing it"
## Context 🕵️‍♀️
The way we currently install Tuist might fail because the [GitHub API](https://github.com/tuist/tuist/issues/407) errors because we are hitting an API limit. There's this [other issue](https://github.com/tuist/tuist/issues/501) that is related to that problem too.

## What 🌱
Pull the artifacts from [Google Cloud Storage (GCS)](https://github.com/tuist/tuist/pull/504) instead of th

[2019-12-30 17:29] pepibumur commented on #407
I'm closing this issue in favor of [this one](https://github.com/tuist/tuist/issues/848)

[2019-12-30 17:29] #407 closed

[2019-12-30 17:29] pepibumur commented on #501
I'm closing this in favor of [this other issue](https://github.com/tuist/tuist/issues/848)

[2019-12-30 17:29] #501 closed

[2019-12-30 19:05] pepibumur commented on #837
Hey @rowwingman. You set `.sdk` dependencies to your targets as [explained here](https://tuist.io/docs/usage/dependencies/#system-libraries-and-frameworks-dependencies). Is that what you are looking for?

[code]

[2019-12-31 18:48] lakpa opened #851 "Codecov integration"
## Need/problem

We have good test coverage but there is no tool for us to gauge it. [Codecov](https://codecov.io) is free for open source project and has support for `Swift` programming language.

## Motivation

Codecov provides highly integrated tools to compare coverage reports and encourage us to do add more test coverage.

# Adoption strategy

This is not a breaking change and should not affe

[2019-12-31 19:25] lakpa commented on #851
it appears as if we already have codecov integration. Hence closing this issue

[2020-01-02 10:38] pepibumur commented on #851
I'm adding a bit of context. [Codecov](https://github.com/tuist/tuist/blob/2a58161538ede2c97798d42d128f1a1d2f094769/.github/workflows/tuist.yml#L18) seems to be configured, but the integration is broken because it doesn't output the results to the PR.

Let me know if you need any especial permissions to set this up @lakpa. And thanks for opening the issue 🙏

[2020-01-03 14:47] #788 closed

[2020-01-03 14:49] lakpa commented on #851
Fixes https://github.com/tuist/tuist/pull/855

[2020-01-03 14:49] #851 closed

[2020-01-03 22:16] raven opened #856 "Difficult to discover how to update tuist"
**Describe the bug**
It is difficult to discover how to update tuist. Performing `tuist` or `tuist --help` did not yield any information. There is also no information on how to update that I could find in the docs.
The only reference I could find was: https://github.com/tuist/tuist/blob/d5f0dfcc5b62b800f7f51d30664e92f469f6ede1/website/markdown/posts/2018-12-03-version-0.9.0/post.md#how-to-update

[2020-01-03 23:41] jimisaacs commented on #848
Is that what I'm hitting here?
[code]
That's all I see right now, I can't run anything.

[2020-01-03 23:49] jimisaacs opened #857 "Can't run tuist after install"
**Describe the bug**
Getting an error when executing whatever the tuist install script installed.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the recommended install script `bash <(curl -Ls https://install.tuist.io)`
2. See success
[code]
3. Execute `tuist`
4. See error
[code]

**Expected behavior**
I'm not sure, I'd expect to see help output simply by running `tuist`, or at the ver

[2020-01-04 02:29] raven commented on #856
Because `tuist` (`tuistenv`) forwards unhandled commands to `tuist`, the user never sees the help/list of `tuistenv` commands. The exception being `tuist --help-env` which is caught prior to forwarding commands on to `tuist`. The discovery of `tuist --help-env` requires the user to have read the 'managing versions' doc.

Found it under 'managing versions'.
https://github.com/tuist/tuist/blob/maste

[2020-01-04 10:11] pepibumur commented on #857
Thanks for reporting this @jimisaacs. It's a known issue and we already have an issue to take it [here](https://github.com/tuist/tuist/issues/848) so I'm closing this one and moving the discussion there.

[2020-01-04 10:11] #857 closed

[2020-01-04 10:12] pepibumur commented on #848
Yes! It's exactly the same issue

[2020-01-04 10:38] pepibumur commented on #856
I think it makes total sense. `tuist` could detect if it's being run through `tuistenv` and in that case include those commands in the list. Would you like to open a PR with this improvement?

[2020-01-05 13:36] lakpa commented on #848
@pepibumur are you working on this?

[2020-01-05 23:01] lakpa commented on #781
**swiftformat** is not configured to run in our listing workflow currently, if this is something we are looking to integrate @pepibumur, I could help if needed

[2020-01-06 09:10] pepibumur commented on #848
Yes @lakpa, I started tackling it.

[2020-01-06 09:15] pepibumur commented on #781
Yes @lakpa. We should run that too. We could run it in such a way that if it fails, we tell developers to run `bundle exec rake style_correct`. What do you think?

[2020-01-06 10:26] lakpa commented on #781
That could work, and as you have mentioned in the PR that having **github action** to run swift format will be ideal going forward. However for the time being, i am thinking of getting `style_correct` integrated as you have seen in my PR, it appears as if it needs `swiftlint` and `swiftformat` to be present but since our repo doesn't have it, could that be a reason the github action is failing?

[2020-01-06 10:56] pepibumur commented on #781
`style_correct` is intended to be used locally, not on CI. On the `checks` GitHub workflow we should have 2 steps, one that runs SwiftLint, and another one that runs Swiftformat. Before running those, we need to make sure that SwiftLint and Swiftformat are installed, and that's something you can do by running `brew install xxx`.

[2020-01-06 13:43] kwridan commented on #401
Indeed we can, thanks for all your hard work on this @lakpa 👍

[2020-01-06 13:43] #401 closed

[2020-01-07 16:14] pepibumur opened #869 "Meeting on Wednesday 22nd - 17:00 GMT"
I'm opening this issue to include the points that we'd like to discuss in our next sync call. Feel free to update the description of this issue to add more points:

- General intro / welcome new joiners
- Tuist usage updates (a round the table update of how everyone is getting along with Tuist / any issues / blockers)
- @kwridan: Performance / Optimising generation (proposal: https://github.com/tu

[2020-01-09 14:02] asalom commented on #837
@pepibumur `XCTest.framework` is in a different path than the rest of iOS frameworks

`XCTest.framework` is at`/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/Library`

Whilst `ARKist.framework`, `StoreKit.framework`, etc are at `/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk/System/Library`

[2020-01-09 16:37] kwridan commented on #837
One option would be to add a custom build setting to the target:

[code]

[2020-01-09 16:40] kwridan commented on #837
I wonder if for convenience we could auto translate `.sdk(name: "XCTest.framework")` to leverage that path under the hood. That said I worry we'd need to maintain a list of special cases 🤔

[2020-01-12 22:09] rowwingman commented on #837
So what can be a solution for this? I suggest add `.developerSdk(name: "XCTest.framework")`

[2020-01-12 22:17] rowwingman opened #872 "Create custom generate functions"
## Need/problem

Is there any way to declare my own generation functions and use them instead of default ones.
For example I have 10 internal frameworks, I use the same template for target settings, each target has some unique information like: name, identifier, source path, tests path. Each target has the same setup, so `Project.swift` is copy paste.

Is there any way to create something like thi

[2020-01-13 21:20] miscampbell opened #887 "UITests Target duplicating Embed Precompiled Frameworks build phase"
**Describe the bug**
When generating a project with 3 Targets: (_.app_, _.uiTests_ and _.unitTests_) where the test targets all define the _.app_ target as their only dependency. The project that is created is duplicating the same Embed Precompiled Frameworks build phase that is added to the .app target on the .unitTests target.

This causes a compile issue because we are duplicating framework ref

[2020-01-14 11:18] kwridan commented on #887
Was able to reproduce this locally in one of the fixtures - thanks for flagging this @miscampbell!

Can you try out https://github.com/tuist/tuist/pull/888 to see if it resolves the issue for your case?

[2020-01-14 14:07] miscampbell commented on #887
Thank you @kwridan for looking into this issue for me. Could you advise what is the best way for me to test this PR?

Do I switch to this branch by running `tuist local fixtures/ios_app_with_tests`. I am getting the below error when I do the following:

Code Executed in Terminal:
[code]

Output in Terminal
[code]

[2020-01-14 16:06] vytis opened #889 "API stability guidelines"
## Need/problem

There are quite a lot of types that are available as part of `ProjectDescription` module. It could be considered as Tuist's public API and we should have some guidelines how to introduce changes to it.

## Motivation

As part of thinking about #705 there was a [discussion](https://github.com/tuist/tuist/issues/705#issuecomment-567153714) about unifying the way we include files and

[2020-01-14 18:45] kwridan commented on #887
ah sadly I don't think tuist local works with branches on forks :(

An option would be to build from source:

[code]

[2020-01-14 18:55] kwridan commented on #820
Thanks both for your feedback!

Agreed leveraging existing fixtures will be useful to gather wide coverage. There is value in having both the existing fixtures and also some large fixtures too to help with profiling and highlight hotspots that may go unnoticed in the existing fixtures which are relatively small in size compared to typical projects.

Ah neat! will check it out. Do you know if it ha

[2020-01-14 18:59] kwridan commented on #872
@rowwingman I believe "Project Description Helpers" is the feature that you're looking for.

https://tuist.io/docs/usage/helpers/

This will allow you to define custom helper methods to use in all your project manifests.

[2020-01-14 19:18] vytis commented on #820
I don't think so, it doesn't seem to be built exactly for the usecase we have. However to be able to track performance between commits we will have to somehow save the values to a database. I was thinking of something simple on Google Cloud since we already have it setup. It should work in a similar logic to what Codecov does - save values per commit and compare it between branches/PRs and `master

[2020-01-15 00:07] rowwingman commented on #872
Do we have a way to convert several `xcconfig` files to `[settings]` that can be used in `Target` then?

[2020-01-15 13:35] ollieatkinson opened #891 "`tuist edit` produces a deep folder heirachy from the root drive `/`"
**Describe the bug**

When generating the manifest target to edit `Project.swift` the folder hierachy starts from my root directory (`/`). See image for a clear depiction.

**Expected**

I would expect it to generate me folders relative to the current working path.

**To Reproduce**

`tuist edit`

**Screenshots**

![image](https://user-images.githubusercontent.com/1382565/72437421-9c00a280-379a-11

[2020-01-15 14:06] #887 closed

[2020-01-16 06:45] zhuhaow opened #893 "Add support to specify build configurations for profile and analyze for custom schemes"
Currently, when creating a scheme, we can only specify build, test, run and archive actions. Profile and analyze will always pick the default build configurations.

I find there is #697 which adds archive action.

I'm wondering if there are any difficulties in adding profile or analyze actions or simply because people rarely use them. I would love to help to add the support.

[2020-01-16 11:08] zdnk opened #894 "Passing parameters (or environment variables at least)"
It would be awesome if there was a way to pass a simple parameters or flags to the `generate` command.

We have complex project and I would like to generate it separately for development and production (app store builds).

I tried using env variables `PRODUCTION=true tuist generate` with following code in `Project.swift`:
[code]

But the `isDev` variable is always `true`. Any ideas how to make at

[2020-01-17 15:47] Rag0n commented on #894
We have similar use case. There are some frameworks that should be linked to the project only for debug builds. For example:
- [BugSee](https://docs.bugsee.com/sdk/ios/installation/)(or any other framework for debugging)
- [earlgrey2](https://github.com/google/EarlGrey/blob/earlgrey2/docs/cocoapods-setup.md) - I'm going to replace podspecs with manifest files, but installation is almost the same.

[2020-01-18 13:22] kwridan commented on #889
Thanks for raising @vytis

Indeed, `ProjectDescription` is one Tuist's public APIs, any breaking changes there would cases users of Tuist to update their manifest files.

Pre- 1.0 the approach was marking certain properties or methods as "deprecated" along side the introduction of the new API if it could be made compatible, and then later removing the deprecated API in a later release.

Post 1.0 I

[2020-01-18 13:30] kwridan commented on #872
I don't believe so, though you can achieve the same goal by defining a helper function in the `ProjectDescriptionHelpers` to specify a shared list of settings.

e.g.

[code]

Note the `//` which was introduced in #727 to allow specifying paths that are relative to the root. This means any project using this path will point to the same (even if it lives somewhere different on disk).

Hope this help

[2020-01-19 23:40] rowwingman commented on #872
But what if you want to specify settings from several xcconfig files, for example:
`Warnings.xcconfig` + `FrameworkDebug.xcconfig` + `podsDebug.xcconfig`?

[2020-01-19 23:48] rowwingman commented on #872
What if we could implement something like that:
[code]
so then you can combine several `xcconfig` files and convert them to `[settings]`, that you can use then in `CustomConfiguration` What do you think about it?

[2020-01-19 23:50] rowwingman commented on #837
@kwridan, @pepibumur what is your suggestion will be?

[2020-01-20 09:33] asalom opened #897 "Embed Precompiled Frameworks for Carthage"
**Describe the bug**
When adding a dependency of type `.framework` coming from Carthage, tuist adds a build phase named `Embed Precompiled Frameworks` with not only the framework but also a file with the extension `.bcsymbolmap` which name changes machine to machine, after running `carthage bootstrap/update`. This will prevent the project from compiling if we share Xcode's project files with someo

[2020-01-20 09:46] zdnk commented on #894
I did come up with workaround for now. I have a `Makefile` with following targets:
[code]
It outputs selected environment to a `.xcode-env` file and then read this file in `Project.swift`:
[code]

[2020-01-20 11:29] zdnk opened #904 "Fastlane - automatic_code_signing issue - missing `TargetAttributes`"
**Describe the bug**
Fastlane is not able to open Tuist generated Xcode project.

**To Reproduce**
Generate tuist project and use `automatic_code_signing issue` in fastlane.

**Expected behavior**
Fastlane to work as with regular Xcode project and modify code signing options within the project.

**Cause**
https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/automatic_code

[2020-01-20 14:28] kwridan commented on #837
possibly: `.sdk(name: "XCTest.framework", source: .developer)`

where `source` is:

[code]

[2020-01-20 20:42] andreacipriani opened #910 "CoreData mapping models are not part of Compile Sources"
**Describe the bug**
Core Data mapping models  - `.xcmappingmodel` files - are not included in the `Compile Sources` Build phase from Tuist.

**To Reproduce**
Example project:
https://github.com/andreacipriani/tuist-mapping-model

**Expected behavior**
The mapping model is a special folder that should to be in the compile sources since Xcode compiles it

[2020-01-21 09:14] kwridan commented on #872
Typically with xcconfig files, you can `#include "another.xcconfig"`

For example, for an application

- `App-Debug.xcconfig`
   -> `#include "DebugShared.xcconfig"`
   -> `#include "Warnings.xcconfig"`
   -> ...
- `App-Release.xcconfig`
  -> ...

The App target then only needs to reference those top level xcconfig files for its configurations.

It keeps things a little simpler - as attempting to

[2020-01-21 12:25] zdnk commented on #904
This one is actually a little hot, could any of you guys look at it anytime soon? @pepibumur @lakpa @ollieatkinson

[2020-01-21 12:50] JulianAlonso commented on #897
Same as above

[2020-01-21 14:42] ollieatkinson commented on #904
At the moment we only insert the `TargetAttributes` dictionary when we generate the test target indentity: https://github.com/tuist/tuist/blob/3dc88e53a1d7353fb59fd65da625dd8bb80f7961/Sources/TuistGenerator/Generator/ProjectGenerator.swift#L214

We would need to expand this to _always_ set it for application product types to include the provisioning and capabilities:

[code]

I do not know Fastlan

[2020-01-21 14:51] #910 closed

[2020-01-21 15:03] vytis opened #916 "Website: Automate checks for dead links"
## Need/problem

The website has lots of links that can easily get out of date and link to wrong places. We need a way to automate these checks.

## Detailed design

One way would be to use Gatsby plugin such as [gatsby-remark-check-links](https://www.gatsbyjs.org/packages/gatsby-remark-check-links/)

# Drawbacks

It could potentially make the PR build take longer. However that is quite unlikely b

[2020-01-21 15:52] pepibumur commented on #889
It does. It's one of those things that the people that work on this more actively have in their mind, but we should document somewhere. As @kwridan pointed out, the good thing is that we have a pretty expense list of acceptance tests that should catch breaking changes. I'd add a section to the documentation describing what's the public interface:
- Public models in the `ProjectDescription` models.

[2020-01-21 15:56] pepibumur commented on #889
@vytis would you like to add a new page to the documentation?

[2020-01-21 17:58] #916 closed

[2020-01-22 09:12] vytis commented on #889
@pepibumur I will look through the other examples @kwridan linked and try to compile something.

[2020-01-22 11:47] zdnk commented on #904
[code]

This is the code from Fastlane and I'd say empty structure would do the trick, I will test it later today, somehow, any pointers on how can I test it by modifying tuist to generate it empty at least?

[2020-01-22 12:20] zdnk commented on #904
@ollieatkinson I have added test target to my project, by it still does not generate the `TargetAttributes` dictionary :(
[code]

[2020-01-22 18:08] pepibumur commented on #869
Here are the notes from the meeting:

# Notes from Tuist's meeting

## Introductions
We all introduce ourselves briefly explaining who we are and at which company we work.

## Usage updates
Ollie:
- They upgraded to 1.1
- They haven't increased the number of modules.
- They are not using project helpers yet.
- They are still looking into how they might be able to improve build times on CI.
- They'

[2020-01-22 18:09] #869 closed

[2020-01-23 13:33] asalom opened #919 "Multiple commands produce XXXXX script phase “Embed Precompiled Frameworks”"
**Describe the bug**
When a project which has a test target depends on another project that also has a test target, both test targets copy precompiled frameworks to the build output directory. This is a problem when having the workspace use the new build system (enabled by default) as both test targets will produce duplicated outputs:

`App` defines targets `App` and `AppTests`
`Core` defines targ

[2020-01-23 14:14] andreacipriani opened #920 "Swift version build setting is overridden when settings are only in xcconfigs"
**Describe the bug**
If you have a project with all build settings extracted into `.xccconfig` files, `Tuist` thinks that the project hasn't set a `SWIFT_VERSION` build setting and thus overrides your setting. See https://github.com/tuist/tuist/blob/master/Sources/TuistGenerator/Generator/ConfigGenerator.swift#L187

**To Reproduce**
See example project: https://github.com/andreacipriani/tuist-over

[2020-01-23 14:14] vytis opened #921 "Improve error message to have more actionable information"
**Describe the bug**
A target has the same dependency added two times. This is the error displayed:
[code]

It doesn't say which target has the problem and the description has some implementation details that are not relevant to end user.

**To Reproduce**
Have this `Project.swift`:
[code]

run `tuist generate` and check the errors:

[code]

**Expected behavior**
It should be easy to see from the

[2020-01-23 14:15] andreacipriani commented on #920
cc @tuist/core

[2020-01-23 14:49] vytis opened #922 "Generate project by running the target when `tuist edit`-ing"
## Need/problem

When working on a project definition the workflow looks like this:
1. `tuist edit` to open the project definition in Xcode
2. Make changes to `Project.swift`
3. Go to command line and run `tuist generate`
4. Check the generated project and go to step 1.

We could add a run step to the `Project.swift` Xcode project that would run `tuist generate` with CMD-R

## Motivation

We could

[2020-01-23 17:53] pepibumur commented on #904
@zdnk I opened a PR on XcodeProj to fix that behaviour https://github.com/tuist/XcodeProj/pull/517. Once merged, I'll update the logic in Tuist accordingly to get this one fixed :). Thanks for reporting it!

[2020-01-24 09:28] kwridan commented on #922
This would make the workflow much smoother!

Manually configuring an Xcode scheme to make this work I see the following:

[code]

It doesn't look like `XcodeProj` has a `PathRunnable` API yet, but shouldn't be too tricky to add support for it.

[2020-01-24 18:50] kwridan commented on #920
Thanks for raising this @andreacipriani!

This would sadly make new projects not work out of the box unless you add this setting, adding a small barrier to a successful project on first try.

I'd be a bit hesitant on attempting to parse `xcconfig` files as that can get quite complicated, they look deceivingly simple but can get really complex if you take into account variables, `#include` etc... -

[2020-01-24 21:07] kwridan commented on #919
Thanks for the detailed issue description @asalom - and for the sample project its super useful!

It seems this is occurring when attempting to build a scheme that includes multiple targets that leverage the precompiled framework script and reference a common precompiled framework. As you pointed out, those targets will produce the same output.

The script copies the precompiled framework symbols

[2020-01-24 22:03] kwridan commented on #919
We could omit the copy of those files (dSYM and bcsymbolmap) for test targets - I don't think they are needed there. That should minimise the occurrence of this issue, however the issue can still occur in the event there's a scheme that builds two applications that depend on the same precompiled framework too.

[2020-01-26 10:28] ddddxxx opened #925 "Depends on virtual Combine interface instead of concrete OpenCombine"
## Need/problem

#918 introduced a new dependency `OpenCombine`. If anyone would like to build tuist for macOS 10.15, they still have to bundle the whole third party Combine even system Combine is available. Also, For any package depends on `TuistGenerator`, they're forced to use OpenCombine (which does't compatible with SwiftUI) even they target on macOS 10.15+.

## Motivation

Combine is a great

[2020-01-26 11:36] ollieatkinson commented on #925
Hi @ddddxxx, thanks for raising this issue.

CombineX looks great, I particularly like the trick of using `#if canImport(Combine)` inside of the Package.swift manifest.

Are the interfaces for all of the implemenations compatiable? At the moment the `CXShim` is just re-exporting the modules so there's no guarentee the interfaces are the same at that level.

Off the top of my head this approach doe

[2020-01-26 11:52] ddddxxx commented on #925
[CXShim maintainer hat on]

Yes! As part of CombineX project, `CXShim` is guaranteed to have one unified interface. Our test suit is build on `CXShim` and run against both system Combine and CombineX. Note `CXShim` also re-export [CXCompatible](https://github.com/cx-org/CombineX/tree/master/Sources/CXCompatible) which implement cx namespace for system Combine.

[Combine consistency is described he

[2020-01-26 13:51] ddddxxx commented on #925
Other drawbacks I can think of:

1. As a Combine-Compatible-Package, `TuistGenerator` requires it's client to either target on macOS 10.15+, or explicitly specify an open-source Combine. It could be confusing when they get tons of  "... is only available in macOS 10.15 or newer....."

2. Currently CXShim is not fully support OpenCombine, because OpenCombine doesn't have unified namespace. For exam

[2020-01-26 14:38] lakpa opened #926 "Introduce github action to build with latest Xcode release available in Github"
## Need/problem

Our PRs build against specific Xcode version but having our PRs constantly build against latest build will allow us to identify the issue before to avoid delaying fixing it and prepare us from unexpected change.

## Motivation

To prepare us to adopt latest Xcode version

## Detailed design

We only need to introduce a new github check to build against latest available Xcode versi

[2020-01-26 15:24] fortmarek opened #927 "Multiple bundle IDs based on configuration for one Target"
During our process of integrating Tuist, we have stumbled upon an interesting case where we want to have different bundle IDs depending on the build configuration.

Initially, I thought that this could be done by specifying `PRODUCT_BUNDLE_IDENTIFIER` in individual custom configurations in `Project.Settings`. But, unfortunately, this gets overwritten by `Target.bundleId`.

This leads to, currently

[2020-01-28 10:22] vytis commented on #889
It seems a new tool just got released recently that can easily print all public API - https://github.com/SwiftDocOrg/swift-doc#swift-api-inventory

[2020-01-28 11:17] zdnk opened #940 "Package requirement .revision does not work"
**Describe the bug**
Declaring
[code]
fails to generate project.

**Desktop (please complete the following information):**
- Version 1.1.0

[2020-01-28 11:45] zdnk commented on #904
Cool, thanks

[2020-01-28 18:49] #927 closed

[2020-01-28 19:54] fortmarek opened #943 "Deprecation of release with [String: String]"
I have found an interesting edge case - we have deprecated `func release(name: String, settings: [String: String], xcconfig: Path? = nil)` in favor of `func release(name: String, settings: [String: SettingValue] = [:], xcconfig: Path? = nil)` - but `SettingValue` is `ExpressibleByStringLiteral` - that means that when I type something like `.release(name: "something", settings: ["SET": "SETTINGVALU

[2020-01-29 09:20] pepibumur commented on #943
Since the interfaces of the 2 methods are the same with the exception of the value type of the settings attribute, which conforms `ExpressibleByStringLiteral`, I think it should be safe to remove the deprecated method. I'd try that and see if acceptance tests fail because of that. If they don't fail, it should be safe to remove the method. Otherwise we have to explore other options.

[2020-01-30 09:19] paciej00 opened #950 "Linking failure when two targets from different projects link the same `.xcframework` dependency"
**Describe the bug**
I experienced a problem with a common dependency between two projects.

I use `SnapshotTesting.xcframework` as a dependency of `SearchTests` (a test target in **Search** project). The `SearchTests` target depends on `TestUtils` target from another project  which in turn depends on `SnapshotTesting.xcframework`.

![Screenshot 2020-01-29 at 16 51 21](https://user-images.githubus

[2020-01-30 09:27] pepibumur opened #951 "The journey towards Tuist 2.0"
I'll get a bit **philosophical** in this issue aiming to explain what I think the journey to Tuist 2.0 should look like. As you might know, the main focus of Tuist until version 1.0 has been generation and validation of projects, as well as having a solid and well-architected foundation that allows extending and leveraging project generation to help developers scale up their projects.

During that

[2020-01-30 09:32] pepibumur commented on #235
We can close this one in favor of [this issue](https://github.com/tuist/tuist/issues/951)

[2020-01-30 09:32] #235 closed

[2020-01-30 09:33] pepibumur commented on #246
[This issue](https://github.com/tuist/tuist/issues/951) is related.

[2020-01-30 15:46] #891 closed

[2020-01-30 18:41] pepibumur commented on #940
Hi @zdnk. Would you mind including a reproduction case as described [here](https://tuist.io/docs/contribution/reporting-bugs/#reproducible-cases)? Also, could you include the exact error that you get. That will facilitate the debugging.

[2020-01-30 18:49] pepibumur commented on #925
Thanks for bringing this up @ddddxxx. This makes me think that we should revert the introduction of Combine for now until we drop the support for macOS 10.14. The setup that you mention could work, but it'd add unnecessary complexity that I'd avoid in the codebase. We introduced Combine to stay aligned with Apple's frameworks but it doesn't seem it's the best idea now.

[2020-01-30 18:56] pepibumur commented on #919
From the proposed solutions in the CocoaPods issue that you linked I'm leaning more towards the second to avoid having to add another target. However, I'm not sure what implications there are if we export the dSYMs into directories inside `Products`.

[2020-01-30 18:58] lakpa commented on #925
We can use rxswift with our own abstraction at the top, and once it would make sense to switch to combine, we can with less or no efforts.

[2020-01-30 20:06] fortmarek commented on #951
I'd love to get involved in signing. I am not sure how much time I can devote to it at the moment, at least until summer, but is definitely an area that interests me greatly.

[2020-01-30 21:05] vytis opened #953 "`tuist edit` should allow editing workspace and all projects at the same time"
## Need/problem

When a project contains `Workspace.swift` with several projects it should be possible to edit all of them at once. At the moment you can only edit the workspace or project separately.

## Motivation

`tuist edit` gives much better experience working with project definitions than simply editing the file with a text editor. We should improve it to cover more use cases.

## Detailed

[2020-01-31 15:22] kwridan commented on #953
@pepibumur extracted the graph / graph loading logic not so long ago, this can help you traverse the dependency tree without any generation :)

One challenge you may run into is, attempting to include all `Project.swift` files in a single project/target may cause some issues for the compile workflow - they all declare top level variables like `project` which will no doubt raise duplicate variables

[2020-01-31 16:02] kwridan commented on #950
Thanks for flagging @paciej00 when you get a chance if you're able to include a sample project that reproduces this that would be really helpful. From my quick test I wasn't able to do so sadly.

[2020-01-31 16:12] kwridan commented on #893
Hi @zhuhaow - thanks for suggesting this.

Indeed I believe there wasn't a strong demand for them. Is this something you may be interested in contributing? We'd be happy to help guide you through how to add those.

@pepibumur has done a fantastic job of adding documentation for contributors here: https://tuist.io/docs/contribution/getting-started/

[2020-01-31 17:28] JulianAlonso opened #954 "Avoids override `xcconfig` provided settings with Tuist defaults."
## Need/problem

Using `xcconfig`files to have one target with some environments, the keys provided by the `xcconfig` files are overrided by Tuist defaults. (e.g. `CODE_SIGN_IDENTITY `)
This force us to set the tuist defaults settings to `.none`, in this case we loose all the Tuist default settings that can be useful, or mix some configurations inside `xcconfig` files and other on the `settings` d

[2020-01-31 21:36] lakpa commented on #920
Language version should be centrally configured and applied wherever it is needed, introducing `swiftVersion` as a parameter in `target` will breed more problems as now we are allowing users to make mistake by allowing them to configure different versions for different targets, wouldn't that be a problem?

[2020-01-31 22:44] DavidBrunow commented on #950
I'm not currently a user of Tuist (although I plan to check it out now that I know about it) but someone else pointed me to this issue -- I am experiencing what seems like the same issue in an Xcode project created in Xcode. Here is a sample project that replicates the issue when trying to build `ExampleApp`: https://github.com/DavidBrunow/XCFrameworkLinkingExample

I have not found a workaround f

[2020-02-01 09:50] lakpa commented on #950
I will look into this issue

[2020-02-01 12:51] vytis opened #955 "Automate the release process"
## Need/problem

Currently releasing a new version of Tuist has several [manual steps](https://github.com/tuist/tuist/blob/master/RELEASE.md). They are not complicated but some need authenticated access to GCS which means everyone doing a release must have them locally.

## Detailed design

We can use a GitHub action that gets triggered on [`release`](https://help.github.com/en/actions/automating-

[2020-02-02 00:07] pepibumur opened #956 "Generate only the projects that need to be generated"
## Context 🕵️‍♀️
When users run `tuist generate`, we load the dependency graph in memory and then traverse all the projects generating them. That's not optimal because we might end up generating projects that don't need to be generated. In essence, generating projects whose manifest file hasn't changed.

To mitigate this a bit, we introduced the `--project-only` argument. When passed, we only gene

[2020-02-02 00:07] pepibumur commented on #956
What do you think about this one @tuist/core ?

[2020-02-02 00:30] pepibumur commented on #953
Totally agree with you here @vytis. `tuist edit` is very convenient and we should keep adding improvements that we believe will add value for the users.

I think we can have multiple targets to avoid conflicts. The good thing is that we have an awesome `TuistGenerator` that should take care of generating an Xcode project that just works.

[2020-02-02 00:32] pepibumur commented on #955
I'd say core members and people that we can designate as release captains would have access to this. They should be able to create the release on GitHub, which for instance will trigger the GitHub actions workflow.

I'll tackle this one :)

[2020-02-02 14:18] kwridan commented on #956
Thanks for putting this together @pepibumur - having a smarter way to detect changes would be great 👍

There are a number of different reasons a regeneration may need to take place:

- `Project.swift` manifest has changed
- New files added / removed / moved on disk (e.g. within `Sources`)
- A transitive dependency is added / removed (e.g. A depends B, now B depends C)
- A transitive dependency typ

[2020-02-02 20:59] lakpa commented on #956
why can't we have hash attribute of manifest as serialising to JSON would be redundant effort and also add some delays proportional to how complex it will be?

I agree to @kwridan, we should avoid storing inside `.xcodeproj`, storing in project root would be safer approach, this way we will not be interfering with `.xcodeproj` and changes in its internal structure will not affect us

[2020-02-02 21:14] ollieatkinson commented on #956
At the moment the manifest files are compiled and dumped into JSON format which is then read by Tuist. I really like the idea @pepibumur is proposing with hashing each of the manifest JSON representations - it would certainly cut down on IO when walking through the manifest dependency graph.

[2020-02-02 21:43] lakpa commented on #956
An alternative to slow JSON serialisation, we could consider binary serialisation, with Google's Protocol Buffer ("protobuf") serialization technology as it emphasize high performance and programmer safety and there is an apple's Swift Protobuf open source implementation we could take advantage of.

[2020-02-02 23:04] pepibumur commented on #956
You are right. There are many different scenarios that we might want to incorporate into the hashing logic. However, I think we can start by supporting the simplest case which is re-generating the project only of the manifest has changed. Developers can always force a full re-generation by passing an argument such as `--force`. We don't need to set this as the new behaviour. Only when we are happy

[2020-02-02 23:06] pepibumur commented on #956
I think hashing the JSON representation as a string is faster than hashing the attributes manually. Moreover, I'd not hash the model once it has been loaded into memory because at that point we have the blogs already unfolded and I think we should hash the glob instead.

[2020-02-03 15:33] adamkhazi opened #971 "Project Scheme Instability Upon Opening Xcode Edit Interface"
**Describe the bug**
Merely opening the edit scheme interface in Xcode (and making no actual changes) for project schemes creates scheme changes on disk. Such changes are easily noticeable when projects are checked into a git repository for instance.

**To Reproduce**
Steps to reproduce the behavior:

1. Navigate to the fixture `ios_app_with_custom_scheme`
2. Run `tuist generate` in root folder of

[2020-02-03 17:25] adamkhazi commented on #971
Submitted https://github.com/tuist/XcodeProj/pull/522 to address the Code Coverage Targets and Additional Options elements. The `version = "1.7"` discrepancy can be addressed within `SchemeGenerator.swift` in tuist.

[2020-02-03 18:40] mollyIV opened #972 "[Documentation] Provide the guidance / best practices for a CI integration"
## Context 🕵️‍♀️

Tuist has a great [documentation](https://tuist.io/docs/usage/getting-started/) that provides the answers for many questions related to Xcode project generation. The section that may be missing though is a CI integration. Providing such guidance might boost the adaptation of tuist CLI tool.

There are two frequently asked questions about [`XcodeGen`](https://github.com/yonaskolb/

[2020-02-03 18:41] mollyIV commented on #972
I'd be glad to help with this one 🙋

[2020-02-04 08:12] kwridan opened #973 "False positive lint warning when depending on static frameworks in test targets"
**Describe the bug**
Generating a project that contains a static framework (or library) that is a dependency of a target and its test target produces a warning of possible duplicate symbols.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `tuist generate` within `fixtures/ios_app_with_static_frameworks`
2. Observe the output:

[code]

**Expected behavior**
The warning shouldn't be displ

[2020-02-05 10:41] adamkhazi opened #974 "`ProjectFilesSortener` Performance"
## Need/problem

Generating workspaces that have many projects, targets and sources can be slow as detailed in https://github.com/tuist/tuist/issues/820. One of the issues which contributes to slow generation arising from running a performance profile in Xcode is the sorting implementation in `ProjectFilesSortener`.

Displayed below is a screenshot from the profiler in Xcode with the items related

[2020-02-05 17:26] andreacipriani commented on #920
Thanks for the detailed response.

Now I got it, good point!

That's also very true and I understand the reasons why you want to avoid parsing xcconfigs.

I'd prefer to give a try to solution `3` rather than `4` to follow an existing Tuist's pattern and not make the `Target` initialiser too verbose. I also think that could simplify the migration, as you mentioned. Although, to reply to @lakpa , I

[2020-02-05 18:16] kwridan commented on #920
https://github.com/tuist/tuist/issues/954 was raised recently after a similar discussion in slack.

The idea there was to experiment with implementing a simpler xcconfig parser that does not attempt to resolve or even extract any values - rather just checks if a key exists (string exists) and omits it from the default set of settings. It may be worth a prototype / feasibility check.

Either way om

[2020-02-05 18:34] kwridan commented on #920
Ah my mistake, just realised #954 wouldn't help with the `SWIFT_VERSION` case as it's not part of the default settings 😅 - I guess a first step either way is to move `SWIFT_VERSION` > `DefaultSettingsProvider` - which would help resolve this issue and open the door for some enhancements later on.

[2020-02-05 18:47] kwridan commented on #972
Thanks @mollyIV, a frequently asked questions section would be a great addition! Feel free to take this on.

[2020-02-05 23:42] #925 closed

[2020-02-06 11:35] adamkhazi commented on #974
Upon looking into this issue further it seems that the current sort implementation in tuist diverges from what swift package manager does when a `Package.swift` file is double clicked. I have a screenshot below of the tuist project's folder/file structure.

![Image](https://user-images.githubusercontent.com/9820670/73932991-68192880-48d3-11ea-996d-859f4fb4d335.png)

The two differences are:
- Fold

[2020-02-06 22:03] kwridan commented on #626
Looks like the utilities have been pulled out to their own package!! 🎉

https://github.com/apple/swift-tools-support-core

This should allow us to reduce the dependency footprint while keeping those great utilities.

[2020-02-07 05:29] pepibumur opened #977 "Support for caching"
## Need/problem
As projects get larger, one of the challenges teams face is keeping the build times low. Companies with enough resources decide to replace their Xcode's build system with other build systems like [Buck](https://buck.build) and [Bazel](https://bazel.build) that support distributed caching. Unfortunately, that's not an option for small teams, and as a consequence they are left with n

[2020-02-07 12:59] ollieatkinson commented on #848
If you are hitting this problem you can workaround the issue by using `tuist bundle` to cache tuist inside of your git repository, meaning it does not need to be downloaded.

[2020-02-07 17:24] andreacipriani commented on #920
@kwridan Agreed, I'll open a PR to move it into the `DefaultSettingsProvider`, thanks!

[2020-02-07 17:52] fortmarek commented on #836
Can I ask why did you close the issue? I am wondering the same thing at the moment.

[2020-02-08 21:41] ollieatkinson commented on #169
We have now implemented this with ProjectHelpers

[2020-02-08 21:41] #169 closed

[2020-02-09 13:09] ollieatkinson commented on #39
So I've restarted the Logging work, so far I am going to propose that we use `swift-log` (https://github.com/apple/swift-log).

To use this we will need to consolidate all of our logging, this means refactoring all of the current methods of printing to console and colourising the logs. Thankfully Tuist has exposed all of this through `Printing` so the actual work won't be challenging just time-con

[2020-02-10 18:16] ollieatkinson commented on #39
I have created a work-in-progress branch so that we can form a detailed discussion about the direction of this work:

https://github.com/tuist/tuist/tree/verbose-logging

[2020-02-11 07:17] pepibumur commented on #626
Awesome! Then the name of this PR should be depend on that package instead :)

[2020-02-11 11:01] vytis commented on #919
We seem to be hitting this issue also, there is no way to build the app without switching to legacy build system. Any tips on the possible solution? I am not sure if I understand why it is happening with CocoaPods, but not with Carthage for example?

[2020-02-11 15:25] remover opened #993 "BuddyBuild can't see generated schemes"
**Describe the bug**

[BuddyBuild](https://www.buddybuild.com/) the CI provider can't find the schemes generated by Tuist. As a result we can't run our app on CI.

**To Reproduce**

We provided them with a very simple app (1 source file, 1 scheme for unit tests).
They ran their tool against this app and confirmed that it doesn't pick up the schemes.

**Expected behavior**
The schemes are discovera

[2020-02-11 17:07] fortmarek opened #994 "TargetAction script file"
**Describe the bug**
In an example project that you can find [here](https://github.com/fortmarek/tuist_target_action), I have a defined `Project.swift` in `Projects/Script` like this:
[code]
And even though the file exists, the build then fails with error `script.sh not found`.
I suspect that it is because not the right path is copied to the build phase (in build phase it triggers `script.sh`, but

[2020-02-11 19:28] kwridan commented on #994
This is an interesting one ... good find 👍

What you're witnessing is consistent with the behaviour in the terminal:

[code]

[code]

Your proposed solution will make this less error prone. Should be a matter of modifying the [`shellScript(sourceRootPath: AbsolutePath)`](https://github.com/tuist/tuist/blob/master/Sources/TuistCore/Models/TargetAction.swift#L81) method to prepend the appropriate va

[2020-02-11 19:45] kwridan commented on #919
Typically with a [Carthage setup](https://github.com/Carthage/Carthage#quick-start) the input/output paths are the frameworks only without the other symbol files.

Carthage does however copy those symbols under hood when archiving:

https://github.com/Carthage/Carthage/blob/master/Source/carthage/CopyFrameworks.swift#L94

It does mean Xcode is unaware of those files - should they change between ar

[2020-02-11 20:02] kwridan opened #995 "Add Base to list of default known regions"
**Describe the bug**
Xcode displays a warning for generated projects.

**To Reproduce**

1. Run `tuist generate` within `fixtures/ios_app_with_tests`
2. Open the generated project

Notice the warning:

<img width="261" alt="Screenshot 2020-02-11 at 19 51 28" src="https://user-images.githubusercontent.com/11914919/74273461-69e65000-4d08-11ea-952d-05fba31ddd11.png">

**Expected behavior**
No warning

[2020-02-11 20:24] vytis commented on #919
Makes sense! This sounds like a good solution, I will try to give it a go.

[2020-02-11 21:05] lakpa opened #996 "Introduce Chrome tracing to view profiling data"
## Need/problem

As we keep adding new and accommodate existing functionalities in tuist, we suffer from performance penalty resulted from some of the approaches we take while overlooking performance due to absence of having any good way of representing nice graphical tool for profiling data to find critical hotspots.

## Motivation

Creating a viewer application for that custom data is a massive

[2020-02-11 22:12] TadeasKriz opened #998 "`versionGroupType` should be `wrapper.xcdatamodel` for CoreData models"
**Describe the bug**
When generating the **.pbxproj** file, **tuist** generates `XCVersionGroup` for each `.xcdatamodeld` provided to the `coreDataModels` parameter of a target. However, the generated `versionGroupType` is equal to `wrapper.xcdatamodeld` which is probably an incompatible value.

I spent the day debugging this issue and going through disassembled Xcode's binaries and here's what I

[2020-02-12 10:59] #973 closed

[2020-02-12 13:28] vytis commented on #919
I looked at it a bit and see few questions/comments:
* The script is copied from CocoaPods and changing it means we are basically forking it - this might make it hard to integrate changes that they do at some point later.
* Do we think having the copied script is a good approach in general? Do we have any other mechanism of defining a build phase like this?
* By just removing the `bcsymbolmap` and

[2020-02-12 16:51] kwridan commented on #998
Wow that is quite thorough and insightful!! Appreciate the detailed issue - thanks @TadeasKriz 👍

Would you be interested in opening a PR with your suggested fix?

The place where version group file elements are added is inside [`ProjectFileElements`](https://github.com/tuist/tuist/blob/master/Sources/TuistGenerator/Generator/ProjectFileElements.swift#L389).

Additionally there is a core data fixt

[2020-02-12 18:15] kwridan commented on #996
Thanks for putting this together @lakpa!

This could tie in quite nicely with some of the ongoing efforts: #39 (verbose logging + using swift-log) and #957 (benchmarking tool). I could this being useful to analyse a generation log of some form to troubleshoot / get more insights on use cases submitted by users of tuist.

It's worth noting for more local scenarios Xcode's built in Instruments work

[2020-02-12 18:24] lakpa commented on #996
Yes, I am very much looking forward to that.

Yes definitely, for local use case, the instruments is a great tool. The chrome trace profiling could help other in submitting profiling data to pinpoint critical hotspots. For instance, my local setup is not complex enough to encounter any performance bottleneck but for other organisation, like `Bloomberg` for instance, we could gauge where we can squ

[2020-02-12 18:33] lakpa commented on #996
@kwridan @ollieatkinson as you guys are having discussion on logging, as introducing this profiling logging, we are introducing one more logging format. I am particularly looking forward to get this integrated, and thinking of abstracting logging to support different formats. I would love to get involved in further discussion.

[2020-02-12 20:45] #994 closed

[2020-02-13 09:37] fortmarek commented on #813
Hey, I am trying to start work on this and I'd need some input.
At first I thought that we would be able to generate the files for the given template in Swift, but that may not be as easy because we want to let the users define their own templates.
There are two options how we can go about it (that I have thought of):
In `Templates/MyTemplate` directory there would be the whole structure of the co

[2020-02-13 09:48] pepibumur commented on #813
Hey @fortmarek, thanks for posting your concerns here.

In regards to where the templates should be defined, I think they should be defined under the `Tuist/` directory. There could be a `Tuist/Templates` directory where each directory represents a template. The can define as a convention that the name of the template is the name of the folder.

Then we have to decide for a format for the template

[2020-02-13 10:09] fortmarek commented on #813
Thanks for the comment @pepibumur

I definitely like the second option more and I have started to play with it, but I am still unsure how to actually then generate those files - as I have laid out in the previous comment, we can trigger a script that would be at the same place as `Template.swift`. I wonder if that can be fit into the declarative interface itself which would be the most clean solut

[2020-02-13 10:27] adamkhazi opened #1002 "CI Not Working On Pull Requests to Master"
**Describe the bug**
Having created a pull request recently I noticed that CI has no steps for building `tuist`, unit tests and integration tests.

**To Reproduce**

1. Make a small change in a branch of `tuist`
2. Submit a pull request for this branch

Check the steps that CI runs in the pull request. Notice that it is missing builds and tests.

**Expected behavior**
To build and run tuist unit a

[2020-02-13 12:13] vytis commented on #1002
I think the reason is that the PR is made from a fork - so no commits have landed to `tuist/tuist` repo and CI is not triggered. Adding a PR trigger would solve the issue but would run twice when PR is opened from a "local" branch. Maybe there is something mentioned about this in GitHub's documentation that would solve the problem, it seems to be pretty basic usecase...

[2020-02-13 13:35] pepibumur commented on #1002
I found [this](https://help.github.com/en/actions/reference/events-that-trigger-workflows#pull-request-events-for-forked-repositories-2) on the documentation. Should we change the event to be `pull_request` instead of `push`? Also notice that unless GitHub Actions is enabled in the forked repository, the workflow won't run.

[2020-02-13 13:40] pepibumur commented on #996
I like the idea of exporting that data and opening it in the Chrome debugger. The good thing about using JSON as a format for those reports is that they can share them easily. Imagine there's an user reporting a bad performance in their project. They could attach the profile to the PR and we could use it for debugging purposes.

If the same is achievable with Instruments *(I'm not sure)*, then let

[2020-02-13 13:45] vytis commented on #1002
However it would then not get triggered when commit is merged to master and no binaries would be produced. Ideally we would want to trigger on `pull_request` when it's a fork and `push` for "local" PRs

[2020-02-13 18:07] kwridan opened #1003 "Preserve Xcode user data when re-generating projects & workspaces"
**Describe the bug**

Custom Xcode UI settings are lost when re-generating projects or workspaces. For example, breakpoints, last opened file, last selected scheme etc... This sadly impacts developer workflow when switching over to using project generation.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate any project within `fixtures`
1. Open the generated project
1. Add breakpoints

[2020-02-14 07:40] kwridan commented on #919
Taking a look at the script it appears mostly similar but has some minor divergences already it seems (e.g. conditionally

That's a good question - from memory this is a second iteration to solve embedding pre-compiled frameworks, previously there used to be `tuist embed` command which would get added to the build phase however that meant generated projects required all users to have `tuist` insta

[2020-02-14 08:40] pepibumur opened #1005 "Some website optimisations for mobile browsing"
## Context 🕵️‍♀️
The [PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights) tool from Google, it returns a score of 73 out of 100 when loading the page from a mobile device. It's not terrible, but it could be better. Websites with better scored have a better positioning by Google so we should make an effort to improve that score.

## What 🌱
Here are the list of improvements t

[2020-02-14 10:17] #904 closed

[2020-02-14 11:36] #971 closed

[2020-02-17 13:59] #972 closed

[2020-02-17 15:05] #974 closed

[2020-02-17 20:24] aegzorz opened #1014 "Allow passing http proxy settings from environment"
## Need/problem

In the company where I work we are using http proxies inside our networks to allow requesting resources both on our network and on the Internet. Currently tuist filters the shell environment variables based on a list of accepted keys. This hinders me from using `tuist up` inside our network.

## Motivation

I would like to be able to use tuist within a proxied environment.

## Det

[2020-02-17 22:11] #922 closed

[2020-02-18 07:48] #1014 closed

[2020-02-18 14:06] #1003 closed

[2020-02-19 14:11] #1002 closed

[2020-02-19 18:04] llinardos opened #1020 "Essential Info.plist"
## Need/problem

An iOS project can compile and run successfully without a `Main.storyboard`.
The `default Info.plist` generated by `tuist` includes the value `"Main.storyboard"` for the key `"UIMainStoryboardFile"`.
In this case, running the project generated by tuist will crash at runtime because `"Main.storyboard"` is declared in the target's `"Info.plist"`, but the storyboard file is not prese

[2020-02-20 10:58] pepibumur commented on #1020
Hey @llinardos
I really like the approach that you are suggesting here and the fact that it's an incremental change to the existing interface. Answering to your questions at the end.

I think essential should contain just the essential values that don't change with new versions of Xcode, and default should keep up with the versions of Xcode. At the time we generate the content, we can check the ve

[2020-02-20 16:03] ferologics opened #1024 "Incorrect CustomConfigurations generated"
**Describe the bug**
There’s an issue where basically compiler says that I’m not creating the `CustomConfiguration`s that I’m creating, but it only happens if I specify the run action on the `Scheme`.

[code]

When I don’t specify a run action generated project has 5 configurations `Dev, Staging, Production, Debug, Release`. Tuist should have generated the 3 configurations that I’m giving it, with

[2020-02-20 18:02] kwridan commented on #1024
Thanks for raising this @ferologics and for including the sample project!

I believe the issue here is the `settings` are missing from the `Project`

e.g. modifying the example to leverage the settings

[code]

Should pass the lint check and generate a project with only the specified configurations. From my recollection, the custom configurations are aggregated `Project` + `Target`s and seeing the

[2020-02-20 18:25] ferologics commented on #1024
Thank you for the suggestion, this fixes my problem. ❤️

[2020-02-20 18:25] #1024 closed

[2020-02-20 20:53] #995 closed

[2020-02-25 14:57] #848 closed

[2020-02-25 18:31] TimurBK opened #1035 "Custom project/module templates"
## Need/problem

I want to be able to use custom structure when generating project/module. I found that it was mentioned [here](https://github.com/tuist/tuist/issues/235#issuecomment-466795492) under scaffolding but I couldn't find a way to do it now.

## Motivation

Different companies have different opinions/accepted structure of the project(and maybe even templates with some scripts to rename f

[2020-02-26 10:17] paciej00 commented on #950
@lakpa I think the issue I experienced wasn't related to the `xcframework` itself, but an old `#include` of Pods configuration in an `xcconfig` file. This led to a misconfigured search paths. I am unable to reproduce the issue. I think it can be closed.

[2020-02-26 12:56] pepibumur commented on #1035
cc @fortmarek it seems there's some interest in the scaffolding feature that you are working on :)

[2020-02-26 12:57] pepibumur commented on #1005
This is no longer necessary so I'm closing it.

[2020-02-26 12:57] #1005 closed

[2020-02-26 13:04] fortmarek commented on #1035
Hey!

Glad to see interest in this feature - I have been working on it [here](https://github.com/tuist/tuist/issues/813). It's still WIP, I'll be sure to add a fixture this week, so you can play with it if you desire.

Currently, you can check out a template in `Templates/default`, follow the issue to follow the progress - I'd like to get a working example done by the end of this week.

[2020-02-27 12:43] asalom opened #1038 "Homebrew formulas with a path as a name are always installed by tuist up"
**Describe the bug**
In `Setup.swift` we can define Homebrew formulas that will be installed with `tuist up` command. `tuist up` should check whether the formula is already installed and skip it if it is. When a formula contains only a name, like `sourcery` the check works and it is not re installed. When the formula contains a path like `kylef/formulae/swiftenv`, the check fails and the formula i

[2020-02-27 17:10] TimurBK commented on #1035
Hey. 🙂
Looks like I missed that. Looks exactly what I'm looking for. Will close and move there.

[2020-02-27 17:10] #1035 closed

[2020-02-27 18:35] TimurBK commented on #813
Couple of things that might be useful:

- Arguments to be able to customise template. As an example: module can contain the functionality itself, demo app to run that will include that functionality, various tests(unit/ui/snapshot/performance/etc), mocks, accessibility etc. But when implementing non-UI things(i.e. networking) there's no sense to include snapshot tests and accessibility for example

[2020-02-27 18:39] fortmarek commented on #813
Thanks for the input! 🙂

As for the first point, you will be able to shared code using a similar pattern as [project description helpers](https://tuist.io/docs/usage/helpers/) - right now I call it `TemplateDescriptionHelpers`. That will enable to share configuration between templates. While that means that you will still need two templates since they will be able to share most of the configuratio

[2020-02-28 12:41] pepibumur opened #1039 "Error cloning Tuist to build it from the source code"
**Describe the bug**
I was trying to point a local project to a commit of Tuist, and `tuistenv` failed to compile the project from the source code and returned the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Run `tuist local e65c929840cc1188e56336e412dbee5dc51cccdc`.
2. Then `tuist generate`.

**Expected behavior**
`tuistenv` should be able to compile the projec

[2020-02-29 06:52] mollyIV opened #1040 "Adopt ArgumentParser for the command-line tool"
## Context 🕵️‍♀️

Tuist uses `SPMUtility` framework (which is part of the [Swift Package Manager repository](https://github.com/apple/swift-package-manager)) for command-line argument parsing. Recently Apple announced a new [ArgumentParser](https://swift.org/blog/argument-parser/) library:

The API of the library simplifies the argument parsing logic a lot. There is no boilerplate and the code is

[2020-03-01 10:08] natanrolnik commented on #1040
I'll try to take this one

[2020-03-01 12:04] ollieatkinson commented on #1040
@fortmarek pointed out:

[2020-03-02 08:03] pepibumur commented on #813
I was going to say the same. Instead of having another type of helpers, I'd reuse `ProjectDescriptionHelpers`. You'll be able to extract in those the reusable parts from your templates. For instance, you'll be able to define a Swift function that acts as a factory of templates:

[code]

And then you can just do:

[code]

That's the beauty of using Swift over YAML or JSON, that it enables this type

[2020-03-02 08:20] fortmarek commented on #813
Right now I have `TemplateDescriptionHelpers` and `TemplateDescription` as I felt like it's something a little bit different from `ProjectDescription` but I did not think about the fact that we'd lose a little bit of reusability.

Do you think it makes sense to merge `TemplateDescription` into `ProjectDescription` then?

[2020-03-02 08:43] kwridan opened #1042 "Profiling Results - Graph Loader"
# Background

As part of #820 Tuist was profiled to get a better understanding on where time is spent and identify areas for possible improvements.

The duration values referenced here will provide a general idea of time but of course will vary machine to machine / project to project.

# Methodology

Tuist was profiled in Xcode instruments while running the `generate` command to generate a workspa

[2020-03-03 10:10] pepibumur commented on #813
I think so. The fewer of those, the easier it'll be to maintain them. In the end they expose models to describe things. Having them separated doesn't make that much difference for the user, but complicates the maintenance in our end.

[2020-03-03 14:46] asalom opened #1057 "'tuist edit' should include every child Project.swift on the file system"
## Need/problem

Consider the following folder structure:
[code]

When I run` tuist edit`  at _root_, the temporary Xcode project tuist generates contains only the _Project.swift_ at root but doesn’t include all the children _Project.swift_ files from my modular application.

## Motivation

Modular applications consists of many modules which have external dependencies and inter module dependencies

[2020-03-03 20:05] lakpa commented on #950
Closing the issue for a reason mentioned above by @paciej00

[2020-03-03 20:05] #950 closed

[2020-03-04 08:31] fortmarek opened #1058 "Could not find or use auto-linked framework in Tests"
**Describe the bug**
When you create a test target, in the dependencies is the target that you want to test - and that *should* include all the dependencies of that target. That means if I have a Carthage framework that I then need to also leverage in tests, I'd expect it to work.

Unfortunately, when you import such a dependency, you get this error:
[code]

**To Reproduce**
Steps to reproduce the

[2020-03-04 10:51] pepibumur opened #1059 "[Discussion] Supporting cached frameworks during the generation"
Related: https://github.com/tuist/tuist/issues/977

## Context

As you might now, I'm working on adding support for caching to Tuist. In a nutshell, the way it works is that for each framework target that is part of the dependency graph we try to get their pre-compiled xcframework from a cache, and **adjust the graph** accordingly to replace dependencies and transitive dependencies of the entry po

[2020-03-04 10:58] pepibumur commented on #1057
@asalom this is a good idea. Would you like to take a stab at it? Here are some pointers:
- [This is the file](https://github.com/tuist/tuist/blob/master/Sources/TuistKit/ProjectEditor/ProjectEditorMapper.swift) that contains the logic that returns the `Project` that is generated for editing the manifests.
- You'll need to extend [this](https://github.com/tuist/tuist/blob/master/Sources/TuistKit/P

[2020-03-05 15:03] ferologics opened #1060 "Incorrect output archive type"
**Describe the bug**
Fastlane`build_app` outputs a `Generic Xcode Archive` instead of `iOS App Archive` after making changes to the project template. This happened once I made changes to the project schemes with custom configurations where the production configuration has custom settings as following:
[code]

**To Reproduce**
This issue is hard to reproduce, I’m opening a ticket for now, but idk i

[2020-03-05 15:31] asalom commented on #1057
Yeah I will give it a try

[2020-03-05 18:18] pepibumur commented on #1060
Hi @ferologics. Thanks for bringing this up and sorry for the inconveniences caused by the issue.
Would you mind including a [reproduction case](https://tuist.io/docs/contribution/reporting-bugs/#reproducible-cases) that we can use for debugging the issue?

[2020-03-07 03:03] c0diq opened #1063 "Allow specifying Organization name"
## Need/problem

It is not possible to specify the Organization name programmatically.

## Motivation

Xcode uses the project `Organization` attributes to fill up the copyright notice in headers for Swift and .h files it creates. It is not possible to specify it at the moment and thus is empty in projects generated by Tuist.

## Detailed design

It should be possible to specify the organization na

[2020-03-07 03:23] c0diq opened #1064 "Failure to pass interpolated string to InfoPlist, SourceFilesGlob, FileElement"
**Describe the bug**
Following the documentation for [helpers](https://tuist.io/docs/usage/helpers/) , the compiler will fail when using the following code:
[code]
The reason is because `InfoPlist` & `SourceFilesList` do not conform to `ExpressibleByStringInterpolation`.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a `Project+Templates.swift` under `Tuist` folder with the content

[2020-03-07 03:26] c0diq opened #1065 "Incorrect documentation"
**Describe the bug**
The documentation for [helpers](https://tuist.io/docs/usage/helpers/) is incorrect for dependencies.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Follow documentation steps from[helpers](https://tuist.io/docs/usage/helpers/)
2. Try to generate project
4. See error `/Users/srebaud/dev/iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift:26:54: error: mi

[2020-03-08 16:21] kwridan commented on #1059
Thanks for putting this together @pepibumur

You've summed up the pros and cons of both approaches quite nicely.

Not sure there a way around that, there will be IO somewhere in the pipeline for this work to happen :( - it needn't be at loading time, but perhaps an explicit step after loading.

[code]

- In the event the mutation occurs ahead of generation it should be ok even with concurrency (as

[2020-03-10 10:50] #1065 closed

[2020-03-10 10:51] #39 closed

[2020-03-11 11:01] #893 closed

[2020-03-11 11:44] pepibumur commented on #1064
This issue has been solved [on this PR](https://github.com/tuist/tuist/pull/1081) so we can close the issue. It should be fixed in the next version of Tuist.

[2020-03-11 11:44] #1064 closed

[2020-03-12 02:21] c0diq opened #1086 "lint command not available"
## Context 🕵️‍♀️

The documentation states `lint` is an option to help find issues with setup. The command is missing.

## What 🌱

[code]

## Proposal 🎉

[2020-03-12 15:59] pepibumur commented on #1086
Hi @c0diq. Even though the lint command is documented, it hasn't been released yet. It'll be part of the next release that will be published tomorrow. Stay tuned!

[2020-03-12 15:59] #1086 closed

[2020-03-12 18:23] c0diq commented on #1086
@pepibumur Can we get this in the new release https://github.com/tuist/tuist/pull/1062 ? I am not able to understand the issue with the changelog action complaining.

[2020-03-13 01:14] TadeasKriz opened #1089 "Up for Homebrew should not use `which` to check if tool is installed"
**Describe the bug**
Currently Up for Homebrew uses `which` to see whether a formula is installed. However this doesn't work for formulas that are named differently than the executable. One example of that is `swift-protobuf` formula.

We could use `brew list [formula]` and check the exit code. If it's zero, it means it's installed. If non-zero, it's not installed.

This might not seem like a supe

[2020-03-13 01:16] TadeasKriz commented on #998
Yes I'll gladly do that once I'm done with my current workload.

[2020-03-13 10:28] pepibumur commented on #993
Hey @remover would it be possible to have access to that example app that you provided to them? Also... it'd be great if you could confirm with them if they are using any of the existing libraries for parsing XcodeProj files.

[2020-03-13 19:18] #1063 closed

[2020-03-15 17:14] kwridan opened #1093 "Profiling Results - Workspace Generator"
# Background

As part of #820 and following up from the previous profiling of the `GraphLoader` #1042, the next area to look at is the `WorkspaceGenerator`.

As before the absolute times listed here should be only used a guide, measurements will vary by machine.

# Methodology

Similarly to the previous approach with the `GraphLoader` a large fixture was generated using `FixtureGenerator` and sign

[2020-03-16 10:10] dependabot-preview[bot] opened #1098 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-03-16 10:23] #1098 closed

[2020-03-17 08:03] kwridan opened #1120 "Manifest errors are no longer getting reported"
**Describe the bug**
Running `tuist generate` on a project that has a syntax error in its manifest no longer displays the Swift syntax error.

**To Reproduce**

1. Open any fixture
1. Introduce a syntax error in its manifest (e.g. omit a comma or use an invalid product type)
1. Run `tuist generate`
1. Notice the error is now `The '/usr/bin/xcrun' command exited with error code 1`

**Expected behav

[2020-03-17 19:23] mollyIV opened #1122 "Custom up command in the setup manifest to install the packages from Mint"
## Context 🕵️‍♀️

It is possible to define a custom [up command](https://tuist.io/docs/usage/commands/#up) in the setup manifest. Let's assume a project setup depends on some packages installed via [Mint](https://github.com/yonaskolb/Mint). Mint allows to specify the list of packages in [Mintfile](https://github.com/yonaskolb/Mint#mintfile), for example:

[code]

The benefit of it is that the vers

[2020-03-17 20:34] pepibumur commented on #993
Is this something that we can close @remover ?

[2020-03-18 06:50] pepibumur commented on #1122
I think it’s a good idea. Would you like to open a PR with the contribution yourself?

[2020-03-18 08:21] mollyIV commented on #1122
Sure, I can give it a shoot 👍

Before starting the implementation, I'd like to clarify few things:

**1. Supporting Mintfile by default**

In the simplest form of installing the packages via Mint, we could support Mintfile by default:

[code]

We could also expose the option of linking the packages globally (optional parameter in a constructor):

[code]

The [`mint bootstrap`](https://github.com/y

[2020-03-18 08:27] remover commented on #993
they mentioned that they were using custom xml parsing. we solved the generation of project schemes, e.g. for unit tests, by using Tuist's `Scheme` related APIs in order to include a `TargetReference` for the app target as well as the unit test target.

however, i'd leave this open for now since we still seem to have an issue with workspace schemes. i'm not sure what the solution with that is yet.

[2020-03-18 10:34] pepibumur commented on #993
I don't think there's an issue in the format of the schemes that we generate. The schemes can run with Xcode and `xcodebuild` and it seems the problem is on their side because they are assuming test schemes should contain the host target. That's not required by Xcode and therefore I wouldn't consider it an issue.

What do you think?

[2020-03-18 10:37] pepibumur commented on #1122
I'd go for the option 1. The downside of adding support for 2) is that there'd be an extra API that we'd need to maintain. It's not a lot of work, but since that information can live in the `Mintfile`, I don't see why we should provide a second interface.

Does it generate a lockfile that we can use to know if we need to run the mint command?

[2020-03-18 11:04] remover commented on #993
yea, not an issue on your side but i was just leaving it open to update on the workspace scheme.

i can now confirm that the workspace scheme also needed to have a reference to the main app target. very strange... glad it's resolved now... thanks for your help!

[2020-03-18 11:04] #993 closed

[2020-03-18 17:45] mollyIV commented on #1122
There's no lockfile, but Mint has a `which` command:

[code]

So the idea is that we could read a Mintfile line by line and check if every package is installed:

[code]

If it is not, we the `isMet ` condition will not be satisfied.

[2020-03-18 18:15] pepibumur commented on #1122
Can we check if the version installed matches the one indicated in the Mintfile?

[2020-03-18 19:15] mollyIV commented on #1122
Yes, we can. Let's say that In Mintfile a user would specify the version like:

[code]

Then calling:

[code]

would check if the very same version specified in Mintfile is installed on a user machine.

![image](https://user-images.githubusercontent.com/10795657/76998317-2dd08b80-6955-11ea-9cfa-d8ef00d787ed.png)

[2020-03-19 17:27] kwridan commented on #1093
All suggestions have been implemented and merged 🎉

Thanks for the speedy reviews - we can of course open new issues for any further profiling / suggestions.

[2020-03-19 17:27] #1093 closed

[2020-03-21 21:49] pepibumur commented on #1122
Perfect! The idea sounds good to me 🤗

[2020-03-23 20:59] ollieatkinson opened #1143 "Project generated with `tuist init` does not generate"
**Describe the bug**

The generated project contains an extra `)` which means it does not compile:

[code]

**To Reproduce**

[code]

[2020-03-23 21:01] #1143 closed

[2020-03-24 07:55] kwridan opened #1144 "Generating projects with `.sdk` dependencies adds unnecessary relative paths to the sdk directory"
**Describe the bug**
Generating a project that has a `.sdk` dependency will result in in a project that includes a relative path to the SDK directory from the source root (which will be different on different machines).

**To Reproduce**
Steps to reproduce the behavior:

1. Run `tuist generate` within `fixtures/ios_app_with_sdk`
2. Inspect the generate `.pbxproj` file

Notice the generated project

[2020-03-24 20:33] #1122 closed

[2020-03-24 21:40] fortmarek opened #1147 "Tuist list output"
## Need/problem

As @pepibumur has described [here](https://github.com/tuist/tuist/pull/1129#pullrequestreview-379333013), it'd be great to make `tuist scaffold --list` output readable by grep and also add option for changing the output to JSON.

## Motivation

Both additions will make it easier for developers to work with the listed templates - which will definitely come in handy when we/develope

[2020-03-25 20:41] fortmarek commented on #1040
@natanrolnik have you had time to work on it? If not, I'll create a kick-off WIP PR to start the work on it and you can join me there if you find the time 🙂

[2020-03-25 20:49] natanrolnik commented on #1040
@fortmarek unfortunately I didn’t have the time. If you start I can try “joining” you and we could split some files.

[2020-03-25 20:50] fortmarek commented on #1040
Sounds great @natanrolnik! I'll definitely let you know.

[2020-03-26 05:12] mollyIV commented on #1040
Maybe we could create a sub-task per command? Plus one sub-task for linking the new library. We could create a parent branch where we'd merge all the sub-tasks. And by sub-tasks I mean simple checkbox list like:

- [ ] Use Argument Parser library in tuist up command.
- [ ] Use Argument Parser library in tuist generate command.

In that way we could work in parallel on a smaller pieces.

Thoughts?

[2020-03-26 06:38] fortmarek commented on #1040
I think that's a great idea @mollyIV ! I'd just make sure that we get one command right and then we can divide up the rest of the work. We will need to figure out what our conventions will be - and there are some issues we have to resolve first, for example it is not possible to use custom initializers for `ParsableCommand`, so we will need to find a way how to inject our dependencies.
@pepibumur

[2020-03-26 06:47] pepibumur commented on #1040
Yeah, I suggested extracting logic from commands into services. The responsibilities would be:
- **Commands:** Parsing the arguments and passing them down to services.
- **Services:** Business logic of the commands. They represent users' intents.

The services would be classes, with a method that takes all the arguments that can be passed to a command. For instance:

[code]

That way we can test t

[2020-03-26 06:48] pepibumur commented on #1040
@mollyIV what about joining our Slack? It'll be easier to coordinate the work with @fortmarek, https://slack.tuist.io

[2020-03-27 06:37] mollyIV commented on #1040
Sure 🙌  I just did.

[2020-03-27 18:31] aegzorz opened #1157 "Add support for generating per-configuration Info.plist"
## Need/problem

In some apps there is a need to have very different settings in Info.plist depending on build configuration. One example could be different settings in `NSAppTransportSecurity` to support self-signed certificates during development, which can be common in internal test environments. Currently when defining a target in Tuist we can only define one `InfoPlist` per target.

## Motiva

[2020-03-30 07:47] #919 closed

[2020-03-30 14:15] sgrgrsn opened #1170 "Unwanted warning about Info.plist files added as resources"
Firebase (and possibly other services) requires us to add a plist file as a resource for the app target to configure it properly. Tuist gives us a warning when trying to do so.

**Steps to reproduce**
1. Create a project with a plist file in the resources folder.
2. Run `tuist generate`
3. See the warning: `Info.plist at path /path/to/project/Resources/GoogleService-Info.plist being copied into th

[2020-03-30 14:15] sgrgrsn commented on #1170
@pepibumur I've created the issue we discussed on Slack today.

[2020-03-31 07:08] #1120 closed

[2020-03-31 15:36] paulsamuels opened #1175 "Core Team link points to the place"
## What 🌱

The `Core Team` link on the website is pointing at `/docs/contribution/changelog-guidelines/` instead of `/docs/contribution/core-team/`

[2020-04-02 15:35] natanrolnik opened #1181 "Tuist shouldn't generate empty Embed Precompiled Frameworks and Embed Frameworks build phases"
**Describe the bug**

When creating a project with a target without any build phases (`TargetActions`), two empty build phases are added, unnecessarily: Embed Precompiled Frameworks (runScript) and Embed Frameworks (copyFiles).

**To Reproduce**
1. Create a `Target` without specifying any `TargetActions`
2. Add this `Target` as part of the declared `Project`.
3. Check that two empty build phases a

[2020-04-03 11:04] JulianAlonso opened #1184 "Bad deployment target XCode 11.4 Tuist 1.5.4"
**Describe the bug**
I'm using XCode 11.4 and Tusit 1.5.4, DeploymentTarget it's always set to Default, but I have configured to 11 on the target configuration

**To Reproduce**
Steps to reproduce the behavior:

1. run `tuist generate`
2. check project deployment target

<img width="337" alt="Screenshot 2020-04-03 at 12 46 19" src="https://user-images.githubusercontent.com/5766613/78354098-83d73d0

[2020-04-03 12:20] pepibumur commented on #1184
This is not a legit bug. I double-checked the generation logic and we are generating the right build settings for the deployment target specified by the targets. @JulianAlonso was expecting the projects to have that deployment target setting too, but as I pointed out, we don't have an API for that and they need to be set manually through build settings.

[2020-04-03 12:20] #1184 closed

[2020-04-06 16:49] remover opened #1198 "Tuist changes the project file with cocoapods as a dependency"
## Context 🕵️‍♀️

Tuist 1.5.4

## What 🌱

With a simple project that uses cocoapods as a dependency, running `tuist generate` changes the project file even if there are no code / podfile changes of any sort.

to repro:

download the attached project
run `tuist generate`
stage your changes
run `tuist generate` again
observe there's more changes in the project file

compare this with `running bundle

[2020-04-06 17:19] pepibumur commented on #1198
@remover I'm not able to reproduce this one. Would you mind trying with the latest Tuist version, 1.6.0

[2020-04-06 19:47] remover commented on #1198
same issue with 1.6.0 :(

when i run tuist generate --verbose i get:

[code]

[2020-04-07 07:05] pepibumur commented on #1198
What version of CocoaPods are you using?

[2020-04-07 08:45] remover commented on #1198
1.8.4... that should be specified in the `Gemfile`

btw a few of my colleagues have been able to reproduce this...

[2020-04-08 07:00] sgrgrsn commented on #1170
@pepibumur I would like to make a PR for this - do you think we should just remove the check all together, or did you have something in mind to make the check smarter?

[2020-04-08 08:13] #1175 closed

[2020-04-08 11:10] olejnjak commented on #1170
I haven't looked into code of the check, but I think this warning is quite nice, I assume that right now the check just checks target resources for files containing _Info.plist_ in name, maybe it would be possible to check if target resource files contain file defined in its `INFOPLIST_FILE` build setting?

[2020-04-08 11:27] #450 closed

[2020-04-08 15:06] sgrgrsn commented on #1170
Yes, right now it's just a simple check on the copied resource files. The warning will show if one of the files includes `Info.plist` in the filename.

[code]

I was thinking that we could change the check to see if one of the copied resource files are equal to the one defined in the targets info plist path, and then only raise the warning in that case.

What do you think about that? @olejnjak

[2020-04-08 15:08] olejnjak commented on #1170
Yes I think that's more concretely the solution suggested above 👍

[2020-04-08 15:09] sgrgrsn commented on #1170
Alright - I'll see if I can come up with a PR with this change 👍

It's my first attempt to contribute to open source with actual code changes, so I hope I will succeed 😃

[2020-04-08 19:19] sgrgrsn commented on #1170
@olejnjak @pepibumur
I've made a PR draft - what do you think about the approach?

https://github.com/tuist/tuist/pull/1203

[2020-04-09 08:50] #1170 closed

[2020-04-13 08:11] #1040 closed

[2020-04-14 12:17] raven opened #1224 "Add ability to generate Command Line Tool product types"
## Need

I'd like to see Tuist have the ability to create Command Line Tools.

![image](https://user-images.githubusercontent.com/316931/79205561-73637400-7e81-11ea-9ab6-5f0018269f2c.png)

## Motivation

When working on iOS apps, I occasionally create a macOS Command Line Tool as an alternative "interface" to the application core frameworks. I have also recently been experimenting with spinning up

[2020-04-14 13:11] Rag0n opened #1225 "Error when generating project containing localized intentdefinition"
**Describe the bug**
This case works: target with .intentdefinition file added as source file.

This case doesn't work: target with localized .intentdefinition file added as source file.

Next error is received hen trying to generate project for the second case:
`Trying to add a file at path ..../Intents/Base.lproj/Example.intentdefinition to a build phase that hasn't been added to the project.`

[2020-04-14 16:26] che1404 opened #1226 "Pods project not imported into workspace when tuist generate is launched from root "Workspace" directory"
First of all, thank you so much for this wonderful tool. I'm really enjoying playing with it!

**Describe the bug**
The Pods project for an app is not being generated on `tuist generate` , when the app contains Cocoapods dependencies and we run the command from a root "Workspace" directory.

**To Reproduce**

1. Clone the repo git@github.com:che1404/tuist-issue.git, which contains a minimal exampl

[2020-04-15 06:02] kwridan commented on #1225
Thanks for flagging this @Rag0n

Good catch, Tuist currently supports localized resources but not sources and is the reason for that error. It's something that can be added.

From what I saw the logic is very similar to how resources are handled.

e.g.

- Add a `PBXVariantGroup`

[code]

- Add a reference to the group within the file elements

[code]

- Add a `PBXBuildFile` referencing that group

[2020-04-15 06:44] kwridan commented on #1224
Hi @raven, thanks for putting together this proposal.

It will also be helpful to get an idea of any special rules for this new product type that we can codify in linters (e.g. command line tools can't contain resources).

It's worth taking into consideration that the Swift Package Manager may be able to fill this role and is perhaps better geared to support command line tools in general.

That sa

[2020-04-15 06:51] kwridan commented on #1181
Thanks for raising this @natanrolnik 👍

Having them there as empty build phases shouldn't be harmful. If you're interested in tackling this - the class responsible for adding those particular build phases is [`LinkGenerator`](https://github.com/tuist/tuist/blob/master/Sources/TuistGenerator/Generator/LinkGenerator.swift#L155)

The thing that is worth checking is if any of the acceptance tests vali

[2020-04-15 07:07] kwridan commented on #1058
Thanks for including a sample project @fortmarek!

I wasn't able to get the the same linker error :/ (I was using Tuist 1.5.4)
The test compiled successfully for me, I did get a different unrelated runtime error:

[code]

[2020-04-16 15:07] lucasmpaim commented on #894
Any update on this?

[2020-04-16 23:58] c0diq commented on #530
Now it works but it seems to always do a `carthage update` and not honor the cartfile.resolved.

[2020-04-17 06:19] kwridan commented on #894
I believe this can now be closed 🎉

@pepibumur implemented support for `Environment` access within manifests recently

https://tuist.io/docs/usage/projectswift/#environment

[2020-04-17 06:19] #894 closed

[2020-04-17 06:20] kwridan commented on #943
I believe those deprecated methods have now been removed with #1202

[2020-04-17 06:20] #943 closed

[2020-04-17 06:24] #626 closed

[2020-04-17 07:18] c0diq opened #1232 "Carthage support for binary json is broken"
**Describe the bug**
If a cartfile contains a binary reference, `tuist up` will fail due to incorrectly parsing the dependency name from `Cartfile.resolved` file by failing to remove the file extension `.json` from it.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a Cartfile with contents
[code]
2. Run `tuist up` once and see it doint
[code]
3. See it works and create a Cartfile.re

[2020-04-17 07:33] pepibumur commented on #894
Right!

[2020-04-17 09:04] fortmarek commented on #1058
Thanks for looking into it @kwridan. Adding those dependencies to the test target is probably the right thing to do anyway, therefore I will close this.

[2020-04-17 09:04] #1058 closed

[2020-04-21 04:47] pepibumur opened #1246 "Some regressions after introducing ArgumentParser"
**Describe the bug**
While trying Tuist, I found out a couple of minor issues that might have got introduced after introducing `ArgumentParser` for parsing the CLI arguments:

- **Namespaced commands yield no output:** For example, `tuist cloud` or `tuist signing`.
- **Help yields an error:** This is the output when running `tuist help`:

[code]
- Using `--help` to get help for a given command thr

[2020-04-21 12:08] #953 closed

[2020-04-21 12:08] #1057 closed

[2020-04-21 13:48] olejnjak opened #1249 "1.7.0 crashes immediately because of missing dependencies"
**Describe the bug**
After running `tuist update` all tuist commands fail with following error.

[code]

**To Reproduce**
1. update Tuist to version 1.7.0 - `tuist update`
2. run `tuist`

**Expected behavior**
No crash

**Desktop (please complete the following information):**

macOS Catalina 10.15.4

[2020-04-21 16:41] fortmarek commented on #1249
Thanks for reporting this! This has already been solved in [1.7.1](https://github.com/tuist/tuist/releases/tag/1.7.1). Unfortunately, this might necessitate some extra steps now that you have this "dirty" binary:
I'd first try: `bash <(curl -Ls https://install.tuist.io)`
If that doesn't help, try these steps:
`rm ~/.tuist/Versions/1.7.0`
`rm /usr/local/bin/tuist`
`bash <(curl -Ls https://install.t

[2020-04-21 19:18] olejnjak commented on #1249
Running [this uninstall script](https://github.com/tuist/tuist/blob/master/script/uninstall) worked, just `-r` was missing in the initial command

[2020-04-21 19:18] #1249 closed

[2020-04-21 19:56] #1246 closed

[2020-04-22 08:17] JulianAlonso opened #1251 "Reduce tuist edit delay"
## Need/problem

Since version 1.7.0 we introduced all Manifest inside the project that `tuist edit` generates.
This option can take a lot of time if there is no `Tuist` or `.git` folder in our repository, and will end up searching for all the Project & Workspace Manifest on our system. Also could take some time if we have a big project.

## Motivation

- Reduce `tuist edit` delay as many as we ca

[2020-04-22 08:46] natanrolnik commented on #1251
@JulianAlonso I had an idea yesterday and it might fix the delay problem, as well as Tuist picking any Project.swift file in the project, even though it’s not related to Tuist (which I showed to @pepibumur).

So it goes like this: if Workspace.swift already contains the paths of the projects, couldn’t we use this list instead of the need to traverse the directories?

[2020-04-22 11:28] ollieatkinson commented on #1251
I originally noticed this after downloading a blob and trying to edit the project with `tuist edit`, the blob is not backed by git which meant tuist traversed back to the root folder `/` and scanned for Project.swift files.

I very much like what @natanrolnik is proposing! it fits very much in line with what I would expect, since this is the way that `tuist generate` also works and it would mean w

[2020-04-22 11:42] ollieatkinson commented on #1157
Thank you for raising this @aegzorz - this is indeed something Tuist should look at aiming to solve, since we generate the projects we should also be able to generate the configuration which goes with it.

at the time of compiling your application InfoPlists are able to infer values from xcconfig, I would suggest to create xcconfig files and use the `${VARIABLE}` syntax in the plist to set the val

[2020-04-22 12:12] JulianAlonso commented on #1251
Maybe I'm a little bit out of context, but I think:
- To know the depedency graph, `tuist edit` will have to build the given `Manfifest`, I think this option could performance slower than fix `RootDirectoryLocator` to prevent return `/` as root directory and return given directory if not `.git` or `Tuist` found. Also I guess this could prevent other related bugs.
- Based on the given `Manifest` wi

[2020-04-23 13:57] natanrolnik opened #1254 "When using a .a library, Tuist doesn't copy headers and modulemap files correctly"
## Describe the bug

When you have a library target and an app target, both with their own manifests and projects, Xcode will correctly link between them. However, the library product will not contain the needed headers and modulemap file. This needs to be fixed manually, everytime the project is generated, by adding the following build phase:

<img width="783" alt="Copy Files Build Phase" src="ht

[2020-04-23 17:02] pepibumur opened #1255 "A value typed graph"
## Graph 🕵️‍♀️
`Graph` is one of the core types of the codebase. It represents the projects' dependency graph which includes the nodes (i.e. targets, precompiled binaries, and packages), projects, and workspaces. Since its inception, we have evolved it to accommodate all the new features that we have been adding to Tuist.
It has worked well, and has allowed us to build many great features that oth

[2020-04-23 17:18] pepibumur commented on #1254
Here are my thoughts:
- Considering a modulemap is related to headers, we can provide an API along the lines of: `Headers(modulemap: "./module.modulemap")`.
- If the target that we are generating represents a library, I'd add the necessary build phase that copies the headers into the product's `include/$(PRODUCT_NAME)` path.

What do you think @tuist/core ?

[2020-04-23 17:22] pepibumur commented on #1251
I kind of like the idea of first loading the graph and loading only the projects that belong to the graph. The problem with that is that if there are errors in the manifests, the loading of the graph will fail and therefore we won't be able to edit the project.

What if we only traverse down?

[2020-04-23 17:22] pepibumur commented on #1232
Thanks for reporting this @c0diq. I'll take a look and try to fix it.

[2020-04-24 06:06] kwridan commented on #1254
Thats for flagging this @natanrolnik

Perhaps it can be defined at the target level?

[code]

While they are closely related to headers, they have [other constructs](https://clang.llvm.org/docs/Modules.html#id23) that allow customising and defining the module as a whole. For example, module maps allow you to define submodules that control how consumers of the library import it.

[code]

👍

Here ar

[2020-04-24 06:12] fortmarek commented on #1255
What a great proposal! This is promising and transforming `Graph` into a value type will make it much more easier to reason about and test plus, as you mention, the process can become even more concurrent.

I have just one question about `GraphTraverser` -> will `GraphTraverser` be a class or a value type? And if I understand it correctly, `GraphTraverser` should be just a wrapper around `ValueGra

[2020-04-24 07:56] pepibumur opened #1256 "Add Twitter feed to the website"
## Context 🕵️‍♀️
I came across a website that had the timeline of their Twitter account embedded, and I think that's something we could have too in our website. After a bit of search, I came across [this](https://www.npmjs.com/package/react-twitter-embed) React component to do exactly that.

## What
Add a new section where we show both, the tweets posted by Tuist, as well as the mentions that we g

[2020-04-24 08:08] kwridan commented on #1255
Thanks for serializing that into an issue @pepibumur 👍

Good question! Not sure of the final shape of `GraphTraverser` - wouldn't be surprised if it ends up internally looking similar to the current shape of `GraphNode`s with reference links to allow easy traversals - I guess the main motivation is that mapping itself doesn't take place on that structure which is optimized for querying rather than

[2020-04-24 09:24] RomainBoulay commented on #1198
Hello friends!! I was wondering if things were moving here + if we could help?

We have found a way to temporary workaround the issue but we know that it is not the best solution. Would be amazing to have this solved by tuist directly!

[2020-04-24 09:45] aegzorz commented on #1157
Thanks for the link! Yeah, that works quite well for most use cases 👍

The issue we're having is that we basically need _different_ Info.plists for each configuration.
Settings like `NSAppTransportSecurity` are not using different values but different content depending on build configuration.

[2020-04-24 12:42] JulianAlonso commented on #1251
We would lost the ability of edit the whole project while we're for example, creating a new SPM, even if we have defined `.git` or `Tuist` folder 🤔
IMHO, editing the whole project even if we're some folders down it's a cool feature.

[2020-04-24 19:55] ollieatkinson commented on #1255
I am very interested in us pursuing a value based graph, it has many merits and opens up a lot of new possibilities in how we can use it. All my comments left here are just my thoughts - since we are still in early stages of discussion I hope I can help shape it.

[code]

I'm not sure I think that an enum is a good representation here, it will make it very difficult to compose and might create qui

[2020-04-27 09:59] pepibumur commented on #1198
I'm afraid this is an issue on the CocoaPods side. It returns a deterministic result when `pod install` is run on a project with Pods already integrated, but it fails to do it deterministically when it's run on a clean project. I'll come up with a reproducible case that you can use to open a ticket on CocoaPods.

[2020-04-27 10:37] pepibumur commented on #1246
Thanks for doing this @fortmarek 👏 👏

[2020-04-27 12:20] thedavidharris commented on #1232
Can't find an issue on this in particular but I've noticed this is a Carthage problem, it'll just always go download it regardless.

[2020-04-27 13:51] xr1337 opened #1275 "Adding an additional Copy File Build Phase"
## Context 🕵️‍♀️
I would like to add a new **Copy File Build Phase** to my current project.
Looking at **TargetAction**, I cant find a way to configure the project

## What 🌱
I am adding another app target which will act as a launcher for my main app.

Attached is an output example of my build phase
<img width="983" alt="Screenshot 2020-04-27 at 9 46 27 PM" src="https://user-images.githubuserconte

[2020-04-28 09:43] pepibumur commented on #1275
Hi @xr1337 👋
Correct me if I'm wrong, but is that to support "launching at login" on your macOS application. If so, I'll try to think of an abstraction that you can use instead of having to declare that build phase yourself.

[2020-04-28 09:45] xr1337 commented on #1275
Hi Pedro

Yup, it is to support ‘launching at login’

Thank you

On Tue, 28 Apr 2020 at 17:43 Pedro Piñera Buendía <notifications@github.com>
wrote:

[2020-04-28 14:04] alexanderjrobinson opened #1287 "Broken link in README.md"
**Describe the bug**
The link to the project documentation in the README.md redirects to the wrong location.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Github repo tuist/tuist
2. Click on 'project documentation' in the Documentation section of README.md
3. URL redirects from https://tuist.io/docs to https://tuist.io/docs/usage/getting-started/,%20/docs/
4. Shows Page Not Found

*

[2020-04-28 15:41] Evylon opened #1288 "freshly generated project causes NSException when run"
**Describe the bug**
When trying to run a freshly generated project with xcode, I encouter an NSException

`Could not find a storyboard named 'Main' in bundle NSBundle`

**To Reproduce**
1.`mkdir MyApp`
2. `cd MyApp`
3. `tuist init --platform ios`
4. open `myApp.xcworkspace` XCode and run target `MyApp`
5. Build Successful but encounter runtime Error

**Expected behavior**
No error should occur I

[2020-04-28 17:38] pepibumur commented on #1288
Thanks for opening this issue @Evylon. It seems a legit error so I'll fix it and land a fix for the next release.

[2020-04-28 17:40] pepibumur commented on #1287
Thanks for reporting this, @alexanderjrobinson. The link [should be pointing](https://github.com/tuist/tuist/commit/58d7be1d2fb44fb622f7213bdf6bc84ccd5b44a7) to the right page now.

[2020-04-28 17:40] #1287 closed

[2020-04-28 17:49] Evylon commented on #1288
Awesome thanks for the quick response.

[2020-04-29 16:40] #1288 closed

[2020-04-30 15:27] alexanderjrobinson opened #1291 "Bundle Id Prefix"
## Need/problem

Currently the bundle id prefix is a literal string in the default ProjectDescriptionHelper template that used during project generation. Ideally the bundle id prefix would maintain in one place and available to be used in any template similar to the project name.

## Motivation

Provide a single place to manage the bundle id prefix to be used across templates.

## Detailed design

[2020-05-01 11:11] ollieatkinson opened #1292 "Support updating package dependencies"
## Need/problem

After updating a swift package dependency in `Project.swift` I want the next time I generate my project for things to work out.

At the moment after updating the dependency you may be faced with the following error:

[code]

To work around this issue, you can delete `.package.resolved` and derived data.

## Motivation

To create a better experience when using Swift Packages and Tu

[2020-05-01 13:47] ollieatkinson opened #1293 "All carthage frameworks and symbols are added to embed phase"
**Describe the bug**

When generating a project which has a symlinked folder for `Carthage/Build` for it's dependencies Tuist picks up those built frameworks and includes them in `Input Files` and `Output Files`.

**To Reproduce**
Steps to reproduce the behavior:

1. Symlink the build folder in one of the Carthage checkout folders
2. Generate & build

**Expected behaviour**
Input and Output files

[2020-05-01 15:57] ollieatkinson commented on #1293
[Archive.zip](https://github.com/tuist/tuist/files/4565077/Archive.zip)

I have attached a reproduction example project.

1. Compile `tuistapp`
2. Look at `Embed Precompiled Frameworks` phase to notice the duplicate references

[2020-05-01 16:47] ollieatkinson opened #1294 "Missing Carthage framework should warn, not error when missing"
**Describe the bug**

When a Carthage framework is not yet fetched I would expect to see this warning when generating the xcodeproj:

https://github.com/tuist/tuist/blob/master/Sources/TuistGenerator/Linter/GraphLinter.swift#L177

However due to a recent change in FrameworkNodeLoader it means this is always reported as a fatal error as a missing framework.

https://github.com/tuist/tuist/blob/8337

[2020-05-02 19:40] fortmarek commented on #1292
Thanks for raising the issue @ollieatkinson!

This is something we should definitely tackle as the current workaround is not ideal, at all.

I wholeheartedly agree that we should mimic the behavior of `swift package update` (after all, we have tried to keep the similarity to SPM during the whole implementation of packages in tuist).

There are two ways, that I see viable, how to approach this:
1.

[2020-05-03 18:17] ollieatkinson commented on #1292
When a user edits the Project.swift file to modify a package dependency version, we should know about it because we can compare against the previous - sure it's not a totally fool-proof way but it could be a purely additive check to provide assistance where we know we can.

[2020-05-03 18:19] fortmarek commented on #1292
Ah, OK, that makes sense. The command we discussed above will be necessary anyway when the user wants to update the packages without changing the version requirements, so it'll be a good first step 👍

[2020-05-05 10:22] pepibumur commented on #1255
I agree with this one. I'd in fact take the opportunity to remove it altogether from the interface and rather expose a hooks API that developers can use to run commands right after the project is generated. Having CocoaPods as a dependency has proven to confuse people because they can think they can integrate CocoaPods dependency graph into Tuist's dependency graph.

@kwridan is the order importan

[2020-05-10 07:20] #1225 closed

[2020-05-11 11:07] gbasile opened #1321 "Disable Main thread checker"
**Describe the bug**
I can't manage to disable the main thread checker on the RunAction. This is more a request for help more than a bug, because this feature should work on Tuist.

**To Reproduce**
[code]

**Expected behavior**
Under Scheme/Run/Diagnostic I would like to disable the MainThreadChecker

**Screenshots**
![screenshot 2020-05-11 at 13 06 24](https://user-images.githubusercontent.com/7

[2020-05-11 17:42] andrespch opened #1334 "Path to resources containing dots results in failure"
**Describe the bug**

Adding a resource located in a directory whose path has a dot ('.') causes tuist to error with  `Couldn't find a reference for the file at path _path/to/resource_`

**To Reproduce**
Steps to reproduce the behavior:

- When defining a target, add a resource located inside a folder whose name contains a dot. like

[code]

**Expected behavior**
A clear and concise description of

[2020-05-11 19:13] kwridan commented on #1334
Hi @andrespch, thanks for flagging this.

This sounds similar to #330.

Tuist does support resources that have dot in the path, for example [`fixtures/ios_app_with_framework_and_resources/App`](https://github.com/tuist/tuist/tree/master/fixtures/ios_app_with_framework_and_resources/App) has a resource [`Folder.DotName/resource.txt`](https://github.com/tuist/tuist/blob/master/fixtures/ios_app_with_

[2020-05-11 19:23] andrespch commented on #1334
This makes total sense @kwridan the reasons as to why we need to do that are very specific to our project configuration and will hopefully change in the near future, I like the idea about the Symlink, will give it a try, thanks a lot!

[2020-05-11 19:23] #1334 closed

[2020-05-11 19:25] kwridan commented on #1321
Hi @gbasile, thanks for raising this.

As things stand there isn't a way to control that particular setting via the project manifests, it could be considered for a future enhancement.

This could be considered for both the **Run** and **Test** action as they both have nearly the same options (The Run action has an additional _"Memory graph on Resource Exception"_)

[2020-05-11 19:41] kwridan commented on #1291
Hi @alexanderjrobinson , thanks for suggesting this.

The bundle ID is defined as a string within the default template in `Tuist/ProjectDescriptionHelpers/Project+Templates.swift`, this can already act as the single canonical source, not sure I follow the issue there?

@fortmarek has done some awesome work to support the definition of custom templates with custom arguments too:

https://tuist.io/d

[2020-05-11 19:55] kwridan commented on #1255
👍

Interesting one, I would image the order is somewhat needed, at least at the graph level, this could allow defining custom mappers to tweak the ordering if needed - worth gathering more feedback from others on this point. e.g. we tend to place the main or primary target of a project at the top with tests / mock / sample apps below it.

[2020-05-14 06:41] jeroenleenarts opened #1339 "microfeatures and CocoaPods"
**Describe the bug**
Is this documentation still up to date?

https://github.com/tuist/tuist/blob/master/website/markdown/docs/architectures/microfeatures.mdx#external-dependencies

**Additional context**
The project specification indicates you can use a CocoaPod dependency. While the microfeatures architecture document explicitly states you can not.

[2020-05-14 17:44] andreacipriani commented on #1198
I can also confirm that I can reproduce the issue, see attached diff after re-running `tuist generate`
[diff.txt](https://github.com/tuist/tuist/files/4630058/diff.txt)

[2020-05-16 14:47] kwridan commented on #1042
One area that gave our project generation times a significant reduction was by adding a layer of caching to the manifest loading process by storing json representations of the loaded manifests to disk. This works out in practice as the manifests change very infrequently in comparison to number of times a generation operation performed.

It took a while to port that over to Tuist as I was sure how

[2020-05-19 16:01] kwridan opened #1360 "iOS Bundle Resource targets with auto generated plists may fail upload to App Store"
**Describe the bug**
In the a resource bundle target (product: `.bundle`) is used with an auto generated plist `infoPlist: .default`, the generated project can produce a `.bundle` that can fail upload validation.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `fixtures/ios_app_with_framework_and_resources/StaticFramework`
2. Update the manifest to auto generate the plist for

[2020-05-27 11:12] pepibumur commented on #1294
Hey @ollieatkinson, I think we can close this one. As we discussed, the new behavior prevents developers from fro getting a generated project that won't compile because certain elements like dependencies, in this case, are missing.

[2020-05-27 11:14] pepibumur commented on #1339
👋 @jeroenleenarts, what's the project specification that you are referring to?

[2020-05-27 11:32] ollieatkinson commented on #1294
I understand but I am a little hesitant here - maybe it's the way I have things configured but we are currently using Carthage as a means to manage versions across repositories (both our own, and other teams) and Tuist to generate those projects.

I understand Tuist is geared toward a mono-repository but it's not something we are able to move to as a strategy. I will have to consider what a soluti

[2020-05-27 11:34] ollieatkinson commented on #1294
I will close this issue, and if I have something more concrete to consider may think about re opening it

[2020-05-27 11:34] #1294 closed

[2020-05-27 11:50] jeroenleenarts commented on #1339
@pepibumur Here using CocoaPods is described: https://tuist.io/docs/usage/dependencies/#cocoapods-dependencies

And in the microfeatures document it states `There's one thing to keep in mind though: you won't be able to use CocoaPods dependencies with your µFeatures`

What is unclear to me is how a CocoaPod could/should be used from a micro framework. :)

[2020-05-27 11:55] pepibumur commented on #1321
Hey @gbasile I opened a PR to make that setting configurable https://github.com/tuist/tuist/pull/1382. Please, take a lot and let me know if that would help mitigate the issue that you are facing.

[2020-05-27 17:18] #1321 closed

[2020-06-04 18:28] kalkwarf opened #1413 "Environment thinning causes heartache"
**Describe the bug**
When running `tuist up`, with a custom setup rule, the environment passed to the tool/script is thinned out by the `acceptedEnvironmentVariables` filter. This means that keys defined in my environment are not available to the setup process.

**To Reproduce**
[code]

in Bootstrap.py, attempt to extract the variable:
[code]

**Expected behavior**
The token is present.

**Desktop

[2020-06-05 11:04] pepibumur commented on #1413
The initial reasoning was preventing some environment variables from causing non-deterministic behaviors in the processes run by Tuist, but at this point I think it's causing more troubles than helping. I'd suggest removing the filter and giving the sub-processes full access to the variables that the Tuist process has access to. What do you think?

Would you like to open a PR and contribute yourse

[2020-06-05 11:27] pepibumur opened #1414 "Upgrade ArgumentParser to the latest version"
## Context
While working on [this PR](https://github.com/tuist/tuist/pull/1412), the SPM upgraded ArgumentParser to the version 0.0.6 and builds started to [fail](https://github.com/tuist/tuist/pull/1412/checks?check_run_id=741499360) on CI:

[code]

Even though it's a patch bump of the version, 0.0.6 seems to be introducing internal changes that break the integration.

[2020-06-05 13:26] kalkwarf commented on #1413
Thanks for the explanation. PR open.

[2020-06-05 16:29] kalkwarf commented on #1413
I could use a clue. CI is failing one of the tests:
[code]
If I run locally in Xcode, that test passes, which makes sense, since that variable isn't typically set manually.

I tried to run `swift test`, but the project fails to build, which is… odd?
[code]

I assume that test isn't relevant now that we're not filtering. However, the test above it looks suspicious, too. Should they both be removed?

[2020-06-05 22:15] grigorye commented on #1198
Folks, I'm not 100% this is relevant, but I believe that I faced similar problem with XcodeGen-generated projects (which also uses Tuist's XcodeProj).

This is the original issue in CocoaPods:

https://github.com/CocoaPods/CocoaPods/issues/9359

From what I understand, it's easily fixable by something like this as a post-processing stage after `pod install`:

[code]

It's also available as a Swift

[2020-06-05 22:43] grigorye opened #1419 "Can not build swift package in Release configuration"
**Describe the bug**
Can not build the package in Release configuration.

**To Reproduce**

1. `swift build -c release`

2. See error:
[code]

**Expected behavior**
Build succeeds.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: macOS 10.15.5/Xcode 11.5
- Version 1.10.0

**Additional context**
This preve

[2020-06-06 15:00] fortmarek opened #1423 "tuist build builds wrong workspace"
**Describe the bug**
I have a `.xcworkspace` in my root directory. But since we use Danger, I also have a workspace at `.swiftpm/xcode/package.xcworkspace` (but this is also the case for eg Carthage checkouts and there are other valid reasons to have multiple workspaces)
Then when I run `tuist build`, I get a following error:
`error: The workspace named "package" does not contain a scheme named "M

[2020-06-07 09:26] #1414 closed

[2020-06-07 09:35] pepibumur commented on #1419
Hey @grigorye, you need to specify the product that you’d like to build, otherwise it’ll try to build frameworks that are not compatible with the release mode.

In regards to using Tuist with Mint, unfortunately that’s not supported. Tuist provides is own version installation and management that comes with optimizations to make the installation fast and deterministic.

[2020-06-07 09:35] #1419 closed

[2020-06-07 13:39] fortmarek opened #1426 "Signing vendor"
## Need/problem

As the signing [PR](https://github.com/tuist/tuist/pull/1186) nears its merge into the master, I'd like to start the next step and that is generating certificates and provisioning profiles automatically for the user.

## Motivation

While fastlane is a great tool, we can leverage what we know about the project and use the knowledge to make the signing integration more seamless.

#

[2020-06-07 13:54] pepibumur commented on #1423
Just had an idea. I think we could create an empty file inside the generated Xcode projects and workspaces to flag them as Tuist-generated Xcode artifacts. That’d help remove the ambiguity when determining which workspace to use. What do you think @fortmarek ?

[2020-06-07 13:59] fortmarek commented on #1423
💡 I think this should work! Adding an empty file to a `.xcworkspace` directory is a valid addition as it does not break anything. I can tackle this if you want to or feel free to go for it yourself 🙂

[2020-06-07 14:12] pepibumur commented on #1423
Sure! Go ahead.

[2020-06-09 08:50] pepibumur commented on #1426
Hey @fortmarek, I think having this command will be very useful for developers to re-generate certificates and profiles directly from their terminal. The first thing that popped into my mind while reading the description is that using Apple's official API might not be a good idea. The API still doesn't support enterprise accounts, so some users might want to generate enterprise certificates and th

[2020-06-11 13:17] fortmarek commented on #1426
Oh, I have not realized the limiitation with enterprise accounts :(
Then yes, let's try to mimic the Fastlane's authentication.

I agree, let's move it to `Project` then

I feel the biggest obstacle will be communicating with Apple's API, but otherwise I think that the basic design is more-or-less settled. I'll try to kick it off with WIP PR once I get something working, thanks for the input @pepi

[2020-06-11 13:45] fortmarek opened #1443 "Use RUNPATH_SEARCH_PATHS instead of embed precompiled frameworks"
## Need/problem

This issue is a continuation of [this](https://community.tuist.io/t/long-tests-build-times/42) discussion. Lately, we have battled with long build times of our tests since the introduction of microfeatures architecture (which meant a lot of new modules and test suites).
Currently, tuist embeds precompiled framework with a custom build phase where it copies the framework and debug

[2020-06-11 15:20] nilsen340 opened #1444 "Tuist generate fails on clean install"
**Describe the bug**

Clean installed tuist, tuist generate causes this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. install tuist with the readme instructions
2. go to an empty folder
3. run this:
[code]
4. See the error described above

**Expected behavior**
`tuist generate` to complete successfully

**Desktop (please complete the following information):**

- OS: Mac OS

[2020-06-11 16:46] Jauzee opened #1445 "Overriding developmentRegion"
## Need/problem

Overriding value of `developmentRegion` property on xcodeproj.

## Motivation

It defaults to `en`, but some projects do not support english localisation and do override value of this property to another region, for example `ru`.

# Drawbacks

I don't see any. I'm not sure about the implementation but from user's perspective it should be just like one more option to tune.

## Alte

[2020-06-11 16:47] kwridan commented on #1444
Thanks for flagging this @nilsen340

mind running the following?

- `tuist version` to see which version of tuist is running for you
- (Optionally) if you have `tree` installed - `tree .` within that directory, curious what files were generated in your case.
- and lastly `tuist generate --verbose`  _(it may help identify which `Info.plist` file it's failing to access)_

I ran commands above on ver

[2020-06-11 16:58] nilsen340 commented on #1444
@kwridan Thanks for the quick response

- Tuist version: 1.10.0
- Tree:
[code]

- Tuist generate --verbose:
[code]

[2020-06-11 17:18] kwridan commented on #1444
Thanks!

I believe it's failing to parse the Xcode version 🤐 - under the hood it's running `xcode-select -p` which usually points to where Xcode lives, e.g. `/Applications/Xcode.app/Contents/Developer`, in your case it seems to be pointing to `/Library/Developer/CommandLineTools`

You can fix this by running `sudo xcode-select -s /Applications/Xcode.app/Contents/Developer` _(assuming `/Application

[2020-06-11 17:24] kwridan commented on #1444
ah of course installing command line tools after Xcode resets this path to `/Library/Developer/CommandLineTools`

xref: https://stackoverflow.com/questions/17980759/xcode-select-active-developer-directory-error

[2020-06-11 17:37] nilsen340 commented on #1444
@kwridan that fixed it. Thanks!

[2020-06-11 18:01] kwridan commented on #1443
Hi @fortmarek

Thanks for preparing and outlining this in proposal.

Embedding dynamically linked frameworks is still needed especially when building applications and deploying them to a device.

Regarding test targets, the additional linker flag suggestion may only work when building tests locally on a simulator, e.g. for tests that can run on a device (e.g. hosted test targets or UI tests) I bel

[2020-06-11 18:06] kwridan commented on #1443
I wonder if there are some additional rules we can come up with to remove some redundancies when it comes to embedding frameworks in test targets - e.g. we already do something similar for hosted test targets where we ensure we don't embed/link the same frameworks in the test target that the host app does.

[2020-06-11 18:32] #1423 closed

[2020-06-11 18:40] fortmarek commented on #1443
It might make sense to then apply the linker flag for only tests that do not have a host application?
It may sound overly specific, but for example in our case all tests but one do not have a host application.

[2020-06-12 14:49] thedavidharris commented on #1443
This is correct, it's pretty much only an option for unit tests.

_If_ tuist were to go that route then yes.

This is a local optimization done specifically for unit tests cause it scales really poorly with the number of dynamic frameworks. As @fortmarek said the copies of every .framework into every test bundle takes time in space; we actually ran out of space on our CI with some regularity befor

[2020-06-12 15:19] fortmarek commented on #1443
That is true, I think that's something we can do, too!

The decision if the embedded step is added or not should be an implementation detail. This is obviously quite a difficult topic, so I think we should try to make the right decision for the tuist users. I say let's implement it and we'll deal with any issues that come up.

But otherwise I agree with what you said @thedavidharris and thanks for

[2020-06-12 15:57] pepibumur commented on #1444
I [added this](https://github.com/tuist/tuist/pull/1447) for the next time someone runs into this issue they don't have to spend time figuring out that Xcode is not selected.

[2020-06-12 15:57] #1444 closed

[2020-06-12 15:58] pepibumur commented on #1445
Hi @Jauzee. The [test action](https://tuist.io/docs/usage/projectswift/#test-action) model supports defining the test region. Is that what you need or am I missing something?

[2020-06-12 18:24] thedavidharris commented on #1443
We do have one framework where no matter what we do, it _has_ to be embedded otherwise it throws dyld errors. It's closed source and something we never quite figured out. Just something to be aware of.

I do wonder whether having some options along these lines would be a good way to handle.

![image](https://user-images.githubusercontent.com/5666250/84534718-6fed3d00-acb8-11ea-9adf-3f3bb36cea53.pn

[2020-06-13 10:51] #837 closed

[2020-06-15 07:54] Jauzee commented on #1445
@pepibumur nope. I mentioned that option in documentation, but it's only for test targets. What we need in our project is to define development region for the whole project — that way you can override the Base localization. It defaults to English (`en`) and you can not change it from Xcode directly.

Some relevant SO posts: [# 1](https://stackoverflow.com/questions/25871815/changing-the-developmen

[2020-06-15 18:55] remover opened #1460 "No ProjectDescriptionHelpers scheme when running tuist edit on 1.11.0"
**Describe the bug**

No ProjectDescriptionHelpers scheme is generated when running tuist edit on 1.11.0. There is a related issue: I can never build the Manifests scheme without building this scheme first. I get a build error:

[code]

Usually I build ProjectDescriptionHelpers, which then allows me to build the Manifests scheme. Not being able to build ProjectDescriptionHelpers essentially means

[2020-06-15 18:59] #246 closed

[2020-06-15 19:33] Jauzee commented on #1445
Seems like it's possible to solve the issue by providing custom xcconfig file. I will try to do so.

[2020-06-16 07:09] kwridan commented on #1445
Thanks for raising this @Jauzee

@pepibumur I believe that setting is baked into the `.pbxproj` file (would be curious to find out if the xcconfig settings do the trick).

![Screen Shot 2020-06-16 at 7 43 52 AM](https://user-images.githubusercontent.com/11914919/84740523-74aa3d80-afa5-11ea-9730-90d0ed77fbb2.png)

Tuist currently has that hard coded to English:

https://github.com/tuist/tuist/blob/

[2020-06-16 12:18] laxmorek opened #1461 "`.disableAutogeneratedSchemes` doesn't work"
**Describe the bug**
Tuist generates default schemes even if `.disableAutogeneratedSchemes` is set in `Config.swift`

**Expected behavior**
When `.disableAutogeneratedSchemes` is added to `Config` then Tuist should generate only custom defined schemes (skip default auto generated schemes)

**Desktop (please complete the following information):**
- OS: macOS 10.15.5
- Version 1.11.0

**Guessing:**

[2020-06-16 12:32] pepibumur commented on #1461
@laxmorek would you mind checking if the generated Xcode project contains schemes under `MyProject.xcodeproj/xcshareddata/xcschemes/**`?

[2020-06-16 13:27] laxmorek commented on #1461
it doesn't contains :)

[2020-06-18 10:17] laxmorek commented on #1461
I have made a mistake. Schemes are being written by CocoaPods.

[2020-06-18 10:17] #1461 closed

[2020-06-18 13:59] miscampbell opened #1466 "Running tuist bundle fails despite having the version on your local machine"
**Describe the bug**
When running `tuist bundle` to update to the latest version 1.11.0 I get an error telling me it is not installed locally and cannot be found. However when I check ~/.tuist/Versions I can see the version is installed.

**To Reproduce**
Steps to reproduce the behavior:

1. Unzip the attached folder [test-tuist.zip](https://github.com/tuist/tuist/files/4799030/test-tuist.zip)
2.

[2020-06-18 14:00] miscampbell commented on #1466
[test-tuist.zip](https://github.com/tuist/tuist/files/4799027/test-tuist.zip)

[2020-06-18 16:38] fortmarek commented on #1460
Yeah, I can easily reproduce this, too, I'll take a look at where it has gone, thanks for reporting

[2020-06-19 06:00] #1443 closed

[2020-06-19 06:01] #1460 closed

[2020-06-19 16:41] remover commented on #1198
thanks for the tip @grigorye ... in the end we git ignored the project files but i will keep this in mind in case we need to come back to it

[2020-06-20 13:16] fortmarek commented on #1426
I have been thinking about this and I think it might be better for us not to take this path. The undocumented API changes quite often and I don't think that we have the manpower to keep it always up to date ([PR](https://github.com/fastlane/fastlane/pull/16626) that lead me to change my mind). Besides, we can offer a more stable alternative to Fastlane's solution as the undocumented API can change

[2020-06-20 15:10] fortmarek commented on #1426
Now that I have started tinkering with the implementation, it occurred to me that maybe a new command `vendor` might not be necessary. We can already tell if we should generate certificates and provisioning profiles just by the fact that the user adds `signing` enum for a given configuration. You just add it to your manifest and tuist automatically does everything for you - we can even tell if a c

[2020-06-21 13:38] fortmarek commented on #1426
I'll continue dumping my thoughts here as I stumble upon problems during the [implementation](https://github.com/tuist/tuist/tree/signing_vendor) - there will be needed only one development/distribution certificate for one team and so it might make more sense to have only development/distribution certificate for each team; unfortunately, if you start a new project with a team that already has a va

[2020-06-22 08:59] pepibumur commented on #1426
Agree. Sooner or later Apple will add support for enterprise accounts so I'd rather stick to the public documented API.

That's a good idea, although bear in mind that re-generation of certificates and profiles requires authentication with the store, so we need to prompt the user for username and password. That would make a command like `tuist generate`, which is not interactive, interactive. I'd

[2020-06-22 09:08] fortmarek commented on #1426
Thanks for the feedback @pepibumur!

this is not necessary, all that is necessary to generate a certificate/profile is API key that will be placed and encrypted in `Tuist/Signing`. But if some interaction from the user will be necessary for generating certificates, let's move it to a new command.

I am not sure this is the correct approach - I have a project A that someone else set up. When I deci

[2020-06-22 12:39] remover opened #1485 "Manifests scheme of tuist edit fails to compile with multiple Template.swift files"
**Describe the bug**

`tuist edit` will include all the `Template.swift` files (this name is i believe enforced by Tuist) and subsequently the `Manifests` scheme won’t compile due to duplicate filenames.

**To Reproduce**
Steps to reproduce the behavior:

- create more than one template according to the [docs](https://tuist.io/docs/commands/scaffold/)
- run `tuist edit`
- attempt to compile the `M

[2020-06-23 09:09] #1466 closed

[2020-06-27 10:00] zdnk opened #1493 "Xcode 12 - new target types"
Any plans to support new targets in Xcode 12? I am asking for Widget extension specifically :)

[2020-06-27 10:13] kwridan commented on #1493
Hi @zdnk, good question!

I had a quick look just now, it looks like a widget extension works like other app extensions which all have the same product type

`productType = "com.apple.product-type.app-extension";` - that is the `.appExtension` product type in Tuist.

[code]

The difference lies in the info plist keys I believe:

[code]

So in theory something along these lines:

[code]

Will give

[2020-06-27 12:30] kwridan commented on #1493
Yup, confirmed, widgets extensions can be generated already via Tuist 🎉

One thing I spotted was the widget scheme didn't work out of the box as it was missing a few settings:

[code]

And:

[code]

I believe those aren't exclusive to widgets - will spin off a separate issue to improve schemes for app extensions

[2020-06-27 12:43] kwridan opened #1494 "Improve auto generated app extensions schemes"
## Overview

App extensions in generated projects can't be launched in Xcode.

## Details

The schemes for app extensions are missing a few key settings to enable them to work:

- `wasCreatedForAppExtension`

[code]

- `askForAppToLaunch`
- `launchAutomaticallySubstyle`

[code]

- The `selectedLauncherIdentifier` & `selectedLauncherIdentifier` have different values:

[code]

- The `LaunchAction`'s

[2020-06-28 10:04] pepibumur opened #1496 "Use the selected Xcode version when opening Xcode projects"
## Context 🕵️‍♀️
Both `tuist edit` and `tuist focus` use `open /path/to/xcodeproj.xcodeproj` to open Xcode projects. As it was [reported here](https://community.tuist.io/t/tuist-edit-opens-in-wrong-version-of-xcode/77), that might result in projects being opened with a version of Xcode other than the selected one.

## What

We can use open's `-a` argument to specify the version of Xcode that we wa

[2020-06-28 12:58] fortmarek commented on #1485
Thanks for reporting, I'll try to address this 🙂

[2020-06-28 16:57] kwridan opened #1497 "Xcode 12 Support"
## Overview

Creating an issue to collate / track Tuist's support of various Xcode 12 features (originally stated in #1493)

## Widget Extensions

**Status:** Supported _(Room for improvement)_

This works like existing app extensions (e.g. Notification Service Extension) which Tuist already supports.

- `productType = "com.apple.product-type.app-extension"`
- Info.plist `"NSExtensionPointIdentifi

[2020-06-28 17:03] kwridan commented on #1493
I'v collated this info along with other Xcode 12 features in #1497 - thanks for starting this thread @zdnk :)

[2020-06-28 17:03] kwridan commented on #1493
Will mark this issue as closed.

[2020-06-28 17:03] #1493 closed

[2020-06-29 16:21] pepibumur opened #1512 "Search upwards for Setup.swift"
## Context 🕵️‍♀️
As it was suggested on [this thread](https://community.tuist.io/t/suggested-enhancement-search-upwards-for-setup-swift/83), we could enhance `tuist up` to support searching for the `Setup.swift` file upwards if the file doesn't exist in the current directory.